<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">Widget</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">Widget</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="subpage-bg widget-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Cryptocurrency Live Widget</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
          <div class="subpage-form widget-box">
            <div class="widget-dropdown">
              <div class="coin-dropdown">
                <label class="widget-select-label">Select Coin</label>
                <select class="selectpicker" id="sel_coin" style="width: 100%">
                  <ng-container *ngFor="let coin of allcoin">
                    <option value="{{coin.symbol}}">{{coin.name}}</option>
                  </ng-container>
                </select>
              </div>

              <div class="widget-curr-dropdown">
                <label class="widget-select-label">Select Currency</label>
                <select class="selectpicker" id="sel_curr" style="width: 100%">
                  <ng-container *ngFor="let curr of maincurrencylist">
                    <option value="{{curr.currency_symbol}}">{{curr.currency_symbol}}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                <div class="widget-coin-box">
                  <div class="coin-rank">
                    <i class="fas fa-star"></i> Rank 1</div>

                  <div class="single-coin-detaile">
                    <div class="single-coin-name">
                      <span class="single-coin-symbol">
                        <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/btc.svg">
                      </span>

                      <span class="single-coin-title">
                        <h6>Bitcoin</h6>

                        <div class="visit-site">
                          <a href="#">
                            <i class="fas fa-share-square"></i> Website</a>
                        </div>
                      </span>

                    </div>

                    <div class="widget-coin-value">
                      <div class="widget-value">
                        <label class="widget-coin-label">
                          MARKET CAP:
                        </label>
                        <span class="widget-box-price">
                          $155.88
                          <span class="currency_symbol">BTC</span>
                        </span>
                      </div>
                      <div class="widget-value">
                        <label class="widget-coin-label">
                          24H VOLUME:
                        </label>
                        <span class="widget-box-price">
                          $1.46
                          <span class="currency_symbol">BTC</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="widget-box-disc">
                  <p>Widget will be live as soon as you place its short code on the website</p>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                <div class="copy-textarea form-group massage-box">
                  <textarea rows="3" class="form-control" id="copy-text">"<iframe style="width:100%;min-height:206px" src="https://crypto.nexthon.com/coin-widget/BTC/USD"></iframe>"
                                    </textarea>

                  <div class="text-center">
                    <button id="btn-copy" class="btn btn-primary btn-copy">
                      <i class="far fa-copy"></i> Copy this widget</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>