<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">Widget</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">Widget</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="subpage-bg widget-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Cryptocurrency Live Widget</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
          <div class="subpage-form widget-box">
            <div class="widget-dropdown">
              <div class="dropdown coin-dropdown">
                <label class="widget-select-label">Select Coin</label>
                <a href="javascript:void(0);" class="dropdown-anchor" id="coin-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="btn currency-widget-btn">
                    <img src="assets/currency-svg/btc.svg" class="curre-img">
                    <span class="currency-name"> Bitcoin </span>
                  </span>
                  <button class="btn btn-language btn-select-dropdown">
                    <i class="fas fa-caret-down"></i>
                  </button>
                </a>
                <ul class="select-list-country dropdown-menu" aria-labelledby="coin-dropdown">
                  <li class="active">
                    <span value="english">
                      <img src="assets/currency-svg/btc.svg" class="curre-img">
                      <span class="currency-name"> Bitcoin </span>
                    </span>
                  </li>
                  <li>
                    <span value="chinese">
                      <img src="assets/currency-svg/eth.svg" class="curre-img">
                      <span class="currency-name"> Ethereum </span>
                    </span>
                  </li>
                  <li>
                    <span value="japanese">
                      <img src="assets/currency-svg/bch.svg" class="curre-img">
                      <span class="currency-name"> Bitcoin Cash </span>
                    </span>
                  </li>
                  <li>
                    <span value="korean">
                      <img src="assets/currency-svg/ltc.svg" class="curre-img">
                      <span class="currency-name"> Litecoin </span>
                    </span>
                  </li>
                  <li>
                    <span value="vietnamese">
                      <img src="assets/currency-svg/ada.svg" class="curre-img">
                      <span class="currency-name"> Cardano </span>
                    </span>
                  </li>
                  <li>
                    <span value="spanish">
                      <img src="assets/currency-svg/neo.svg" class="curre-img">
                      <span class="currency-name"> NEO </span>
                    </span>
                  </li>
                  <li>
                    <span value="portugueseBrazil">
                      <img src="assets/currency-svg/xlm.svg" class="curre-img">
                      <span class="currency-name"> Stellar </span>
                    </span>
                  </li>
                  <li>
                    <span value="portugal">
                      <img src="assets/currency-svg/eos.svg" class="curre-img">
                      <span class="currency-name"> EOS </span>
                    </span>
                  </li>
                  <li>
                    <span value="german">
                      <img src="assets/currency-svg/xmr.svg" class="curre-img">
                      <span class="currency-name"> Monero </span>
                    </span>
                  </li>
                  <li>
                    <span value="romanian">
                      <img src="assets/currency-svg/xem.svg" class="curre-img">
                      <span class="currency-name"> NEM </span>
                    </span>
                  </li>
                  <li>
                    <span value="russian">
                      <img src="assets/currency-svg/dash.svg" class="curre-img">
                      <span class="currency-name"> Dash </span>
                    </span>
                  </li>
                  <li>
                    <span value="turkish">
                      <img src="assets/currency-svg/miota.svg" class="curre-img">
                      <span class="currency-name"> IOTA </span>
                    </span>
                  </li>
                  <li>
                    <span value="ukraine">
                      <img src="assets/currency-svg/trx.svg" class="curre-img">
                      <span class="currency-name"> TRON </span>
                    </span>
                  </li>
                  <li>
                    <span value="italian">
                      <img src="assets/currency-svg/usdt.svg" class="curre-img">
                      <span class="currency-name"> Tether </span>
                    </span>
                  </li>
                  <li>
                    <span value="dutch">
                      <img src="assets/currency-svg/etc.svg" class="curre-img">
                      <span class="currency-name"> Ethereum Classic </span>
                    </span>
                  </li>
                  <li>
                    <span value="french">
                      <img src="assets/currency-svg/ven.svg" class="curre-img">
                      <span class="currency-name"> VeChain </span>
                    </span>
                  </li>
                  <li>
                    <span value="greek">
                      <img src="assets/currency-svg/lsk.svg" class="curre-img">
                      <span class="currency-name"> Lisk </span>
                    </span>
                  </li>
                  <li>
                    <span value="hindi">
                      <img src="assets/currency-svg/omg.svg" class="curre-img">
                      <span class="currency-name"> OmiseGO </span>
                    </span>
                  </li>
                  <li>
                    <span value="indonesian">
                      <img src="assets/currency-svg/qtum.svg" class="curre-img">
                      <span class="currency-name"> Qtum </span>
                    </span>
                  </li>
                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/btg.svg" class="curre-img">
                      <span class="currency-name"> Bitcoin Gold </span>
                    </span>
                  </li>

                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/icx.svg" class="curre-img">
                      <span class="currency-name"> ICON </span>
                    </span>
                  </li>

                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/zec.svg" class="curre-img">
                      <span class="currency-name"> Zcash </span>
                    </span>
                  </li>


                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/bnb.svg" class="curre-img">
                      <span class="currency-name"> Binance Coin </span>
                    </span>
                  </li>

                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/ppt.svg" class="curre-img">
                      <span class="currency-name"> Populous </span>
                    </span>
                  </li>

                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/dgd.svg" class="curre-img">
                      <span class="currency-name"> DigixDAO </span>
                    </span>
                  </li>

                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/steem.svg" class="curre-img">
                      <span class="currency-name"> Steem </span>
                    </span>
                  </li>

                  <li>
                    <span value="danish">
                      <img src="assets/currency-svg/bcn.svg" class="curre-img">
                      <span class="currency-name"> Bytecoin </span>
                    </span>
                  </li>
                </ul>
              </div>

              <div class="dropdown widget-curr-dropdown">
                <label class="widget-select-label">Select Currency</label>
                <a href="javascript:void(0);" class="dropdown-anchor" id="currency-dropdown" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <span class="btn currency-widget-btn">
                    <img src="assets/currency-symbol/USD.svg" class="curre-img">
                    <span class="currency-name"> USD </span>
                  </span>
                  <button class="btn btn-language btn-select-dropdown">
                    <i class="fas fa-caret-down"></i>
                  </button>
                </a>
                <ul class="select-list-country dropdown-menu" aria-labelledby="currency-dropdown">
                  <li class="active">
                    <span value="english">
                      <img src="assets/currency-symbol/USD.svg" class="curre-img">
                      <span class="currency-name"> USD </span>
                    </span>
                  </li>
                  <li>
                    <span value="chinese">
                      <img src="assets/currency-symbol/BTC.svg" class="curre-img">
                      <span class="currency-name"> BTC </span>
                    </span>
                  </li>
                  <li>
                    <span value="japanese">
                      <img src="assets/currency-symbol/ETH.svg" class="curre-img">
                      <span class="currency-name"> ETH </span>
                    </span>
                  </li>
                  <li>
                    <span value="korean">
                      <img src="assets/currency-symbol/AUD.svg" class="curre-img">
                      <span class="currency-name"> AUD </span>
                    </span>
                  </li>
                  <li>
                    <span value="vietnamese">
                      <img src="assets/currency-symbol/BRL.svg" class="curre-img">
                      <span class="currency-name"> BRL </span>
                    </span>
                  </li>
                  <li>
                    <span value="spanish">
                      <img src="assets/currency-symbol/CAD.svg" class="curre-img">
                      <span class="currency-name"> CAD </span>
                    </span>
                  </li>
                  <li>
                    <span value="portugueseBrazil">
                      <img src="assets/currency-symbol/CHF.svg" class="curre-img">
                      <span class="currency-name"> CHF </span>
                    </span>
                  </li>
                  <li>
                    <span value="portugal">
                      <img src="assets/currency-symbol/CNY.svg" class="curre-img">
                      <span class="currency-name"> CNY </span>
                    </span>
                  </li>
                  <li>
                    <span value="german">
                      <img src="assets/currency-symbol/EUR.svg" class="curre-img">
                      <span class="currency-name"> EUR </span>
                    </span>
                  </li>
                  <li>
                    <span value="romanian">
                      <img src="assets/currency-symbol/GBP.svg" class="curre-img">
                      <span class="currency-name"> GBP </span>
                    </span>
                  </li>
                  <li>
                    <span value="russian">
                      <img src="assets/currency-symbol/HKD.svg" class="curre-img">
                      <span class="currency-name"> HKD </span>
                    </span>
                  </li>
                  <li>
                    <span value="turkish">
                      <img src="assets/currency-symbol/INR.svg" class="curre-img">
                      <span class="currency-name"> INR </span>
                    </span>
                  </li>
                  <li>
                    <span value="ukraine">
                      <img src="assets/currency-symbol/JPY.svg" class="curre-img">
                      <span class="currency-name"> JPY </span>
                    </span>
                  </li>
                  <li>
                    <span value="italian">
                      <img src="assets/currency-symbol/MXN.svg" class="curre-img">
                      <span class="currency-name"> MXN </span>
                    </span>
                  </li>
                  <li>
                    <span value="dutch">
                      <img src="assets/currency-symbol/PHP.svg" class="curre-img">
                      <span class="currency-name"> PHP </span>
                    </span>
                  </li>
                  <li>
                    <span value="french">
                      <img src="assets/currency-symbol/PLN.svg" class="curre-img">
                      <span class="currency-name"> PLN </span>
                    </span>
                  </li>
                  <li>
                    <span value="greek">
                      <img src="assets/currency-symbol/RUB.svg" class="curre-img">
                      <span class="currency-name"> RUB </span>
                    </span>
                  </li>
                  <li>
                    <span value="hindi">
                      <img src="assets/currency-symbol/SEK.svg" class="curre-img">
                      <span class="currency-name"> SEK </span>
                    </span>
                  </li>
                  <li>
                    <span value="indonesian">
                      <img src="assets/currency-symbol/SGD.svg" class="curre-img">
                      <span class="currency-name"> SGD </span>
                    </span>
                  </li>
                  <li>
                    <span value="danish">
                      <img src="assets/currency-symbol/ZAR.svg" class="curre-img">
                      <span class="currency-name"> ZAR </span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                <div class="widget-coin-box">
                  <div class="coin-rank">
                    <i class="fas fa-star"></i> Rank 1</div>

                  <div class="single-coin-detaile">
                    <div class="single-coin-name">
                      <span class="single-coin-symbol">
                        <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/btc.svg">
                      </span>

                      <span class="single-coin-title">
                        <h6>Bitcoin</h6>

                        <div class="visit-site">
                          <a href="#">
                            <i class="fas fa-share-square"></i> Website</a>
                        </div>
                      </span>

                    </div>

                    <div class="widget-coin-value">
                      <div class="widget-value">
                        <label class="widget-coin-label">
                          MARKET CAP:
                        </label>
                        <span class="widget-box-price">
                          $155.88
                          <span class="currency_symbol">BTC</span>
                        </span>
                      </div>
                      <div class="widget-value">
                        <label class="widget-coin-label">
                          24H VOLUME:
                        </label>
                        <span class="widget-box-price">
                          $1.46
                          <span class="currency_symbol">BTC</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="widget-box-disc">
                  <p>Widget will be live as soon as you place its short code on the website</p>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                <div class="copy-textarea form-group massage-box">
                  <textarea rows="3" class="form-control" id="copy-text">"<iframe style="width:100%;min-height:206px" src="https://crypto.nexthon.com/coin-widget/BTC/USD"></iframe>"
                                    </textarea>

                  <div class="text-center">
                    <button id="btn-copy" class="btn btn-primary btn-copy">
                      <i class="far fa-copy"></i> Copy this widget</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>