<div class="content">
  <div class="subpage-bg widget-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">{{'WIDGET.title' | translate}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
          <div class="subpage-form widget-box">
            <div class="widget-dropdown">
              <div class="coin-dropdown">
                <label class="widget-select-label">{{'WIDGET.selectcoin' | translate}}</label>
                <select class="selectpicker" id="sel_coin" style="width: 100%">
                  <ng-container *ngFor="let coin of allcoin">
                    <option value="{{coin.symbol}}">{{coin.name}} ({{coin.symbol}})</option>
                  </ng-container>
                </select>
              </div>

              <div class="widget-curr-dropdown">
                <label class="widget-select-label">{{'WIDGET.selectcurrency' | translate}}</label>
                <select class="selectpicker" id="sel_curr" style="width: 100%">
                  <ng-container *ngFor="let curr of maincurrencylist">
                    <option value="{{curr.currency_symbol}}">{{curr.currency_symbol}}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="widget-coin-box">
                  <div class="coin-rank" id="coinrank">
                    <i class="fas fa-star"></i> Rank 0</div>

                  <div class="single-coin-detaile">
                    <div class="single-coin-name">
                      <span class="single-coin-symbol">
                        <img class="img-fluid" src="assets/currency-svg/{{basecoin | lowercase}}.svg">
                      </span>

                      <span class="single-coin-title">
                        <h6 id="coinname">Bitcoin (BTC)</h6>

                        <div class="visit-site">
                          <span class="fs16" id="coinprice">
                            8840
                          </span>
                          <span class="coin-price-change" [ngClass]="widgetchange24 > 0 ? 'text-green':'text-red'" id="coinchange24">  </span>
                        </div>
                      </span>

                    </div>

                    <div class="widget-coin-value pb10">
                      <div class="widget-value">
                        <label class="widget-coin-label">
                          {{'WIDGET.marketcap' | translate}}:
                        </label>
                        <span class="widget-box-price" id="coinmarket">
                          $155.88
                          <!--<span class="currency_symbol">BTC</span>-->
                        </span>
                      </div>
                      <div class="widget-value">
                        <label class="widget-coin-label">
                          {{'WIDGET.24hvolume' | translate}}:
                        </label>
                        <span class="widget-box-price" id="coinvolume24">
                          $1.46
                          <!--<span class="currency_symbol">BTC</span>-->
                        </span>
                      </div>
                    </div>

                    <div class="power-text">
                      <a href="{{base_url}}">
                        <p class="text-center"><i>{{'WIDGET.poweredby' | translate}}</i></p>
                      </a>
                    </div>

                  </div>
                </div>

                <div class="widget-box-disc">
                  <p>{{'WIDGET.desc' | translate}}</p>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="copy-textarea form-group massage-box">
                  <textarea rows="3" class="form-control" id="copy-text"><iframe style="width:100%;min-height:220px" src="{{base_url}}coin-widget/{{basecoin}}/{{currency}}"></iframe>
                                    </textarea>

                  <div class="text-center">
                    <button id="btn-copy" class="btn btn-primary btn-copy">
                      <i class="far fa-copy"></i> {{'WIDGET.copythiswidget' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>