<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="footer-box">
          <div class="footer-logo">
            <img src="assets/images/logo.png" class="img-fluid" />
          </div>

          <div class="footer-disc text-left">
            <p>The day is coming where your marketing will be automated. advanced tracking simplified & mind-blowing reports
              generatedin one click! </p>
          </div>

          <div class="copy-right">
            <p>Copyright © 2018 CryptoPrices. All Rights Reserved.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="footer-box">
          <div class="footer-menu">
            <ul class="list-unstyled text-left">
              <li class="nav-item active">
                <a class="nav-link" href="{{base_url}}">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{base_url}}contact-us">CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{base_url}}calculator">CALCULATOR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{base_url}}widget">WIDGET</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div class="footer-box">
          <div class="footer-subscribe">
            <input type="email" class="form-control" name="EMAIL" placeholder="Enter your email address">

            <button type="submit" class="btn btn-success btn-subcribe">
              <i class="far fa-paper-plane"></i>
            </button>
          </div>

          <div class="footer-social">
            <ul class="list-unstyled social-list">
              <li class="">
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fas fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>