<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="footer-box">
          <div class="footer-logo">
            <img src="assets/images/logo.png" class="img-fluid" />
          </div>

          <div class="footer-disc text-left">
            <p>The day is coming where your marketing will be automated. advanced tracking simplified & mind-blowing reports
              generatedin one click! </p>
          </div>

          <div class="copy-right">
            <p>Copyright © 2018 CryptoPrices. All Rights Reserved.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <div class="footer-box">
          <div class="footer-menu">
            <ul class="list-unstyled text-left clearfix">
              <li class="nav-item" [ngClass]="curl == 'home' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}">HOME</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'contact-us' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}contact-us">Contact Us</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'about-us' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}about-us">About Us</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'news' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}news">News</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'calculator' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}calculator">CALCULATOR</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'protfolio' ? 'active' : ''">
                <a class="nav-link active" href="{{base_url}}protfolio">My Protfolio</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'followlist' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}followlist">Followlist</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'widget' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}widget">Widget</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'change-password' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}change-password">Change Password</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'profile' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}profile">Profile</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'faq' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}faq">FAQ</a>
              </li>

              <li class="nav-item" [ngClass]="curl == 'followlist' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}followlist">Followlist</a>
              </li>
              
              <li class="nav-item" [ngClass]="curl == 'protfolio' ? 'active' : ''">
                <a class="nav-link" href="{{base_url}}protfolio">Protfolio</a>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-4 offset-lg-0">
        <div class="footer-box">
          <div class="footer-subscribe">
            <input type="email" class="form-control" name="EMAIL" placeholder="Enter your email address">

            <button type="submit" class="btn btn-warning btn-subcribe">
              <i class="far fa-paper-plane"></i>
            </button>
          </div>

          <div class="footer-social">
            <ul class="list-unstyled social-list">
              <li class="">
                <a href="#">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fab fa-twitter-square"></i>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="">
                <a href="#">
                  <i class="fas fa-envelope"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>