<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">Portfolio</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">Portfolio</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="subpage-bg protfolio-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Protfolio</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
          <div class="protfolio-networth protfolio-box">
            <div class="protfolio-detaile-box">
              <span class="prot-box-name">NET WORTH:</span>
              <span class="prot-box-price">$6.33</span>
              <span class="prot-box-change text-red">-30.83%
                <i class="fas fa-angle-down"></i>
              </span>
            </div>

            <div class="add-transaction-btn">
              <button class="btn btn-primary btn-addtran" data-toggle="modal" data-target="#add-transaction">Add Transaction</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--add transaction-popup-->
    <div class="modal fade" id="add-transaction" tabindex="-1" role="dialog" aria-labelledby="add-transactionlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Transaction </h5>
            <span aria-hidden="true" class="close-btn" data-dismiss="modal" aria-label="Close">
              <img src="images/close.svg" class="img-fluid"> </span>
          </div>

          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <form class="model-form">


                    <div class="dropdown prot-dropdown mb-30">
                      <label class="widget-select-label">Select Coin</label>
                      <a href="javascript:void(0);" class="dropdown-anchor" id="coin-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="btn currency-widget-btn">
                          <img src="images/currency-svg/btc.svg" class="curre-img">
                          <span class="currency-name"> Bitcoin </span>
                        </span>
                        <button class="btn btn-language btn-select-dropdown">
                          <i class="fas fa-caret-down"></i>
                        </button>
                      </a>
                      <ul class="select-list-country dropdown-menu" aria-labelledby="coin-dropdown">
                        <li class="active">
                          <span value="english">
                            <img src="images/currency-svg/btc.svg" class="curre-img">
                            <span class="currency-name"> Bitcoin </span>
                          </span>
                        </li>
                        <li>
                          <span value="chinese">
                            <img src="images/currency-svg/eth.svg" class="curre-img">
                            <span class="currency-name"> Ethereum </span>
                          </span>
                        </li>
                        <li>
                          <span value="japanese">
                            <img src="images/currency-svg/bch.svg" class="curre-img">
                            <span class="currency-name"> Bitcoin Cash </span>
                          </span>
                        </li>
                        <li>
                          <span value="korean">
                            <img src="images/currency-svg/ltc.svg" class="curre-img">
                            <span class="currency-name"> Litecoin </span>
                          </span>
                        </li>
                        <li>
                          <span value="vietnamese">
                            <img src="images/currency-svg/ada.svg" class="curre-img">
                            <span class="currency-name"> Cardano </span>
                          </span>
                        </li>
                        <li>
                          <span value="spanish">
                            <img src="images/currency-svg/neo.svg" class="curre-img">
                            <span class="currency-name"> NEO </span>
                          </span>
                        </li>
                        <li>
                          <span value="portugueseBrazil">
                            <img src="images/currency-svg/xlm.svg" class="curre-img">
                            <span class="currency-name"> Stellar </span>
                          </span>
                        </li>
                        <li>
                          <span value="portugal">
                            <img src="images/currency-svg/eos.svg" class="curre-img">
                            <span class="currency-name"> EOS </span>
                          </span>
                        </li>
                        <li>
                          <span value="german">
                            <img src="images/currency-svg/xmr.svg" class="curre-img">
                            <span class="currency-name"> Monero </span>
                          </span>
                        </li>
                        <li>
                          <span value="romanian">
                            <img src="images/currency-svg/xem.svg" class="curre-img">
                            <span class="currency-name"> NEM </span>
                          </span>
                        </li>
                        <li>
                          <span value="russian">
                            <img src="images/currency-svg/dash.svg" class="curre-img">
                            <span class="currency-name"> Dash </span>
                          </span>
                        </li>
                        <li>
                          <span value="turkish">
                            <img src="images/currency-svg/miota.svg" class="curre-img">
                            <span class="currency-name"> IOTA </span>
                          </span>
                        </li>
                        <li>
                          <span value="ukraine">
                            <img src="images/currency-svg/trx.svg" class="curre-img">
                            <span class="currency-name"> TRON </span>
                          </span>
                        </li>
                        <li>
                          <span value="italian">
                            <img src="images/currency-svg/usdt.svg" class="curre-img">
                            <span class="currency-name"> Tether </span>
                          </span>
                        </li>
                        <li>
                          <span value="dutch">
                            <img src="images/currency-svg/etc.svg" class="curre-img">
                            <span class="currency-name"> Ethereum Classic </span>
                          </span>
                        </li>
                        <li>
                          <span value="french">
                            <img src="images/currency-svg/ven.svg" class="curre-img">
                            <span class="currency-name"> VeChain </span>
                          </span>
                        </li>
                        <li>
                          <span value="greek">
                            <img src="images/currency-svg/lsk.svg" class="curre-img">
                            <span class="currency-name"> Lisk </span>
                          </span>
                        </li>
                        <li>
                          <span value="hindi">
                            <img src="images/currency-svg/omg.svg" class="curre-img">
                            <span class="currency-name"> OmiseGO </span>
                          </span>
                        </li>
                        <li>
                          <span value="indonesian">
                            <img src="images/currency-svg/qtum.svg" class="curre-img">
                            <span class="currency-name"> Qtum </span>
                          </span>
                        </li>
                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/btg.svg" class="curre-img">
                            <span class="currency-name"> Bitcoin Gold </span>
                          </span>
                        </li>

                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/icx.svg" class="curre-img">
                            <span class="currency-name"> ICON </span>
                          </span>
                        </li>

                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/zec.svg" class="curre-img">
                            <span class="currency-name"> Zcash </span>
                          </span>
                        </li>


                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/bnb.svg" class="curre-img">
                            <span class="currency-name"> Binance Coin </span>
                          </span>
                        </li>

                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/ppt.svg" class="curre-img">
                            <span class="currency-name"> Populous </span>
                          </span>
                        </li>

                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/dgd.svg" class="curre-img">
                            <span class="currency-name"> DigixDAO </span>
                          </span>
                        </li>

                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/steem.svg" class="curre-img">
                            <span class="currency-name"> Steem </span>
                          </span>
                        </li>

                        <li>
                          <span value="danish">
                            <img src="images/currency-svg/bcn.svg" class="curre-img">
                            <span class="currency-name"> Bytecoin </span>
                          </span>
                        </li>
                      </ul>
                    </div>

                    <div class="dropdown prot-dropdown mb-30">
                      <label class="widget-select-label">Select Currency</label>
                      <a href="javascript:void(0);" class="dropdown-anchor" id="currency-dropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="btn currency-widget-btn">
                          <img src="images/currency/USD.svg" class="curre-img">
                          <span class="currency-name"> USD </span>
                        </span>
                        <button class="btn btn-language btn-select-dropdown">
                          <i class="fas fa-caret-down"></i>
                        </button>
                      </a>
                      <ul class="select-list-country dropdown-menu" aria-labelledby="currency-dropdown">
                        <li class="active">
                          <span value="english">
                            <img src="images/currency/USD.svg" class="curre-img">
                            <span class="currency-name"> USD </span>
                          </span>
                        </li>
                        <li>
                          <span value="chinese">
                            <img src="images/currency/BTC.svg" class="curre-img">
                            <span class="currency-name"> BTC </span>
                          </span>
                        </li>
                        <li>
                          <span value="japanese">
                            <img src="images/currency/ETH.svg" class="curre-img">
                            <span class="currency-name"> ETH </span>
                          </span>
                        </li>
                        <li>
                          <span value="korean">
                            <img src="images/currency/AUD.svg" class="curre-img">
                            <span class="currency-name"> AUD </span>
                          </span>
                        </li>
                        <li>
                          <span value="vietnamese">
                            <img src="images/currency/BRL.svg" class="curre-img">
                            <span class="currency-name"> BRL </span>
                          </span>
                        </li>
                        <li>
                          <span value="spanish">
                            <img src="images/currency/CAD.svg" class="curre-img">
                            <span class="currency-name"> CAD </span>
                          </span>
                        </li>
                        <li>
                          <span value="portugueseBrazil">
                            <img src="images/currency/CHF.svg" class="curre-img">
                            <span class="currency-name"> CHF </span>
                          </span>
                        </li>
                        <li>
                          <span value="portugal">
                            <img src="images/currency/CNY.svg" class="curre-img">
                            <span class="currency-name"> CNY </span>
                          </span>
                        </li>
                        <li>
                          <span value="german">
                            <img src="images/currency/EUR.svg" class="curre-img">
                            <span class="currency-name"> EUR </span>
                          </span>
                        </li>
                        <li>
                          <span value="romanian">
                            <img src="images/currency/GBP.svg" class="curre-img">
                            <span class="currency-name"> GBP </span>
                          </span>
                        </li>
                        <li>
                          <span value="russian">
                            <img src="images/currency/HKD.svg" class="curre-img">
                            <span class="currency-name"> HKD </span>
                          </span>
                        </li>
                        <li>
                          <span value="turkish">
                            <img src="images/currency/INR.svg" class="curre-img">
                            <span class="currency-name"> INR </span>
                          </span>
                        </li>
                        <li>
                          <span value="ukraine">
                            <img src="images/currency/JPY.svg" class="curre-img">
                            <span class="currency-name"> JPY </span>
                          </span>
                        </li>
                        <li>
                          <span value="italian">
                            <img src="images/currency/MXN.svg" class="curre-img">
                            <span class="currency-name"> MXN </span>
                          </span>
                        </li>
                        <li>
                          <span value="dutch">
                            <img src="images/currency/PHP.svg" class="curre-img">
                            <span class="currency-name"> PHP </span>
                          </span>
                        </li>
                        <li>
                          <span value="french">
                            <img src="images/currency/PLN.svg" class="curre-img">
                            <span class="currency-name"> PLN </span>
                          </span>
                        </li>
                        <li>
                          <span value="greek">
                            <img src="images/currency/RUB.svg" class="curre-img">
                            <span class="currency-name"> RUB </span>
                          </span>
                        </li>
                        <li>
                          <span value="hindi">
                            <img src="images/currency/SEK.svg" class="curre-img">
                            <span class="currency-name"> SEK </span>
                          </span>
                        </li>
                        <li>
                          <span value="indonesian">
                            <img src="images/currency/SGD.svg" class="curre-img">
                            <span class="currency-name"> SGD </span>
                          </span>
                        </li>
                        <li>
                          <span value="danish">
                            <img src="images/currency/ZAR.svg" class="curre-img">
                            <span class="currency-name"> ZAR </span>
                          </span>
                        </li>
                      </ul>
                    </div>

                    <div class="prot-amnt-input mb-30">
                      <label class="widget-select-label">Enter Coin Amount</label>

                      <input type="number" class="form-control" />
                    </div>

                    <div class="prot-amnt-input mb-30">
                      <label class="widget-select-label">Enter Value of Coin</label>

                      <input type="number" class="form-control" />
                    </div>

                    <div class="form-group d-md-flex justify-content-md-between align-items-md-center">
                      <button type="submit" class="btn btn-primary btn-submit"> SUBMIT </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="table-top-area protfolio-top-area"></div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="width-responsive">
            <div class="main-table home-table table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Coin
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                    <th>AVG. Buy Price
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                    <th>Current Price
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                    <th>Investment
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                    <th>Value
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                    <th>Profit
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                    <th>Return
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                    <th>No.Trade
                      <span class="datatable-arrow">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <a href="#">
                        <div class="coin-name">
                          <span class="coin-symbol">
                            <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/btc.svg">
                          </span>

                          <span class="coin-name-text">
                            <h6>Bitcoin</h6>
                            <span class="coin-shortname">
                              BTC
                            </span>
                          </span>
                        </div>
                      </a>
                    </td>
                    <td> $9,387.51 </td>
                    <td> $158,746.416 </td>
                    <td> $8,107,530,000 </td>
                    <td> $3,107,000 </td>
                    <td>
                      <span class="text-green"> $ 9.15 </span>
                    </td>
                    <td>
                      <span class="text-green"> $ 30.15% </span>
                    </td>
                    <td class="text-center"> 6 </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        <div class="coin-name">
                          <span class="coin-symbol">
                            <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/bch.svg">
                          </span>

                          <span class="coin-name-text">
                            <h6>Bitcoin Cash</h6>
                            <span class="coin-shortname">
                              BCH
                            </span>
                          </span>
                        </div>
                      </a>
                    </td>
                    <td> $5000 </td>
                    <td> $30,000 </td>
                    <td> $50,000 </td>
                    <td> $200 </td>
                    <td>
                      <span class="text-red"> $ -5.15 </span>
                    </td>
                    <td>
                      <span class="text-red"> $ -15.15% </span>
                    </td>
                    <td class="text-center"> 2 </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        <div class="coin-name">
                          <span class="coin-symbol">
                            <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/eth.svg">
                          </span>

                          <span class="coin-name-text">
                            <h6>Ethereum</h6>
                            <span class="coin-shortname">
                              ETH
                            </span>
                          </span>
                        </div>
                      </a>
                    </td>
                    <td> $6,255.51 </td>
                    <td> $15,825 </td>
                    <td> $82,500 </td>
                    <td> $2,500 </td>
                    <td>
                      <span class="text-red"> $ -7.15 </span>
                    </td>
                    <td>
                      <span class="text-red"> -22.15% </span>
                    </td>
                    <td class="text-center"> 5 </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="#">
                        <div class="coin-name">
                          <span class="coin-symbol">
                            <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/xrp.svg">
                          </span>

                          <span class="coin-name-text">
                            <h6>Ripple</h6>
                            <span class="coin-shortname">
                              XRP
                            </span>
                          </span>
                        </div>
                      </a>
                    </td>
                    <td> $93.51 </td>
                    <td> $158.416 </td>
                    <td> $815,00</td>
                    <td> $3,000 </td>
                    <td>
                      <span class="text-green"> $ 3.15 </span>
                    </td>
                    <td>
                      <span class="text-green"> 10.15% </span>
                    </td>
                    <td class="text-center"> 3 </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>