<div class="content">
  <div class="subpage-bg portfolio-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">{{'PORTFOLIO.title' | translate}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
          <div class="portfolio-networth portfolio-box">
            <div class="portfolio-detaile-box">
              <span class="port-box-name">{{'PORTFOLIO.networth' | translate}}:</span>
              <span class="port-box-price">{{base_sing}}{{overolsum | number : '1.0-2'}}</span>
              <span class="port-box-change" [ngClass]="overolper > 0 ? 'text-green' : 'text-red'">{{overolper | number : '1.2-2'}}%
                <i class="fas" [ngClass]="overolper > 0 ? 'fa-angle-up' : 'fa-angle-down'"></i>
              </span>
            </div>

            <div class="add-transaction-btn">
              <button class="btn btn-primary btn-addtran" data-toggle="modal" data-target="#add-transaction">{{'PORTFOLIO.addtransaction' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--add transaction-popup-->
    <div class="modal fade modal-transaction" id="add-transaction" role="dialog" aria-labelledby="add-transactionlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{'PORTFOLIO.addtransaction' | translate}} </h5>
            <span aria-hidden="true" class="close-btn" data-dismiss="modal" aria-label="Close">
              <img src="assets/images/close.svg" class="img-fluid"> </span>
          </div>

          <div class="modal-body">
            <form class="model-form" #form="ngForm" (ngSubmit)="onSubmitAddtransaction(form.value)">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="hidden" id="port_id" name="port_id" ngModel />
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">                      
                    <div class="port-amnt-input mb-30">
                      <label class="widget-select-label">{{'PORTFOLIO.selectdate' | translate}}</label>
                      <input class="currency-select form-control date" placeholder="Select date of Purchase..." name="date" [(ngModel)]="modeldate" (ngModelChange)="getcoinprice(form.value);" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" id="date">
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">                        
                    <div class="calc-coin-dropdown mb-30">
                      <label class="widget-select-label">{{'PORTFOLIO.selectcoin' | translate}}</label>
                      <select class="selectpicker form-control hauto" id="coin" name="coin" ngModel>
                        <ng-container *ngFor="let coin of allcoin">
                          <option value="{{coin.symbol}}">{{coin.name}} ({{coin.symbol}})</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">                        
                    <div class="calc-coin-dropdown mb-30">
                      <label class="widget-select-label">{{'PORTFOLIO.selectcurrency' | translate}}</label>
                      <select class="selectpicker form-control hauto" id="currency" name="currency" ngModel>
                        <ng-container *ngFor="let curr of allcurrency">
                          <option value="{{curr.currency_symbol}}">{{curr.currency_symbol}}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="port-amnt-input mb-3">
                      <label class="widget-select-label">{{'PORTFOLIO.eca' | translate}}</label>
                      <input type="text" class="form-control" id="amount" name="amount" ngModel (keyup)="getcoinprice(form.value);"/>
                    </div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-6 col-lg-6">                        
                    <div class="port-amnt-input mb-30">
                      <label class="widget-select-label">{{'PORTFOLIO.evc' | translate}}</label>
                      <input type="text" class="form-control" id="value_coin" name="value_coin" ngModel/>
                    </div>
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">                        
                    <div class="form-group d-md-flex justify-content-md-between align-items-md-center">
                      <button type="submit" class="btn btn-primary btn-submit"> {{'PORTFOLIO.submit' | translate}} </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section >
    <div class="portfolio-contant" *ngIf="showloader">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="../../assets/images/loading.gif" />
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-contant" *ngIf="!showloader">
      <ng-container *ngIf="portfoliolist != ''">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12" >
              <div class="width-responsive">
                <div class="main-table transaction-table table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>{{'PORTFOLIO.coin' | translate}} </th>
                        <th>{{'PORTFOLIO.avgbuyprice' | translate}} </th>
                        <th>{{'PORTFOLIO.currentprice' | translate}} </th>
                        <th>{{'PORTFOLIO.investment' | translate}} </th>
                        <th>{{'PORTFOLIO.value' | translate}} </th>
                        <th>{{'PORTFOLIO.profit' | translate}} </th>
                        <th>{{'PORTFOLIO.return' | translate}} </th>
                        <th>{{'PORTFOLIO.notrade' | translate}} </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let pl of profitlosslist">
                        <td>
                          <a href="{{base_url}}coin/{{pl.coin_id}}">
                            <div class="coin-name">
                              <span class="coin-symbol">
                                <img class="img-fluid" src="assets/currency-svg/{{pl.buy_coin | lowercase}}.svg" (error)="errorHandler($event,pl.buy_coin)">
                              </span>

                              <span class="coin-name-text">
                                <h6>{{pl.coin_name}}</h6>
                                <span class="coin-shortname">
                                  {{pl.coin_amount}}&nbsp;{{pl.buy_coin}}
                                </span>
                              </span>
                            </div>
                          </a>
                        </td>
                        <td> {{base_sing}}{{pl.totalcost / pl.coin_amount | number : '1.0-2'}} </td>
                        <td> {{base_sing}}{{pl.current_price | number : '1.0-12'}} </td>
                        <td> {{base_sing}}{{pl.totalcost | number : '1.0-2'}} </td>
                        <td> {{base_sing}}{{pl.current_price * pl.coin_amount | number : '1.0-2'}} </td>
                        <td>
                          <span [ngClass]="pl.current_price * pl.coin_amount - pl.totalcost > 0 ? 'text-green' : 'text-red'"> {{base_sing}}{{pl.current_price * pl.coin_amount - pl.totalcost | number : '1.0-2'}} </span>
                        </td>
                        <td>
                          <span [ngClass]="((pl.current_price * pl.coin_amount) - pl.totalcost) / pl.totalcost * 100 > 0 ? 'text-green' : 'text-red'"> {{((pl.current_price * pl.coin_amount) - pl.totalcost) / pl.totalcost * 100 | number : '1.0-2'}}% </span>
                        </td>
                        <td class="text-center"> {{pl.trade}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="recent-table">
          <div class="container">
            <h4 class="table-title">{{'PORTFOLIO.recenttransaction' | translate}}</h4>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="width-responsive">
                  <div class="main-table table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{{'PORTFOLIO.coin' | translate}} </th>
                          <th>{{'PORTFOLIO.rate' | translate}}</th>
                          <th>{{'PORTFOLIO.totalcost' | translate}} </th>
                          <th>{{'PORTFOLIO.date' | translate}} </th>
                          <th>{{'PORTFOLIO.edit' | translate}} </th>
                        </tr>
                      </thead>
        
                      <tbody>
                        <tr *ngFor="let portfolio of portfoliolist">
                          <td>
                            <a href="{{urlString}}cryptocurrency/{{portfolio.coin_name}}-{{portfolio.buy_coin | lowercase}}-price">
                              <div class="coin-name">
                                <span class="coin-symbol">
                                  <img class="img-fluid" src="assets/currency-svg/{{portfolio.buy_coin | lowercase}}.svg" (error)="errorHandler($event,portfolio.buy_coin)">
                                </span>
        
                                <span class="coin-name-text">
                                  <h6>{{portfolio.coin_name}}</h6>
                                  <span class="coin-shortname"> {{portfolio.coin_amount}}&nbsp;{{portfolio.buy_coin}} </span>
                                </span>
                              </div>
                            </a>
                          </td>
                          <td>
                            <div class="coin-name">
                              <span class="coin-name-text">
                                <h6>{{base_sing}}{{portfolio.dc_price / portfolio.coin_amount | number : '1.0-2'}}</h6>
                                <span class="coin-shortname"> ({{portfolio.bc_sign}}{{portfolio.bc_price / portfolio.coin_amount | number : '1.0-2'}}) </span>
                              </span>
                            </div>
                          </td>
                          <td>
                            <div class="coin-name">
                              <span class="coin-name-text">
                                <h6>{{base_sing}}{{portfolio.dc_price | number : '1.2-2'}}</h6>
                                <span class="coin-shortname"> ({{portfolio.bc_sign}} {{portfolio.bc_price | number : '1.2-2'}}) </span>
                              </span>
                            </div>
                          </td>
                          <td>
                            <div class="coin-name">
                              <span class="coin-name-text">
                                <h6>{{portfolio.transaction_date | date:'MMMM d, y'}}</h6>
                              </span>
                            </div>
                          </td>
                          <td>
                            <div class="coin-edit">
                                  <button class="btn btn-primary" (click)="traderemove(portfolio.id)">
                                    <i class="fas fa-times"></i>
                                  </button>
                                  <button class="btn btn-success" (click)="edittrade(portfolio.id)">
                                    <i class="fas fa-edit"></i>
                                  </button>
                            </div>
                          </td>
                          <!-- <td class="text-center"> 
                              <a href="javascript:;"><i class="fa fa-times text-red mr-10"></i></a>
                              <i class="fa fa-pencil-square"></i>
                            </td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="portfoliolist == ''">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <div class="followlist-box">
                <div class="followlist-coin-detaile">
            
                  <div class="followlist-coin-value">
                    <div class="followlist-value" style="width: 100%; text-align: center;">
                      <p>{{'PORTFOLIO.nodata' | translate}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</div>