
<div class="content">
  <div class="subpage-bg widget-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Cryptocurrency Converter & Calculator</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
          <div class="subpage-form widget-box">
            <div class="widget-dropdown mb-lg-4 mb-md-4">
              <div class="amnt-widget-dropdown">
                <label class="widget-select-label">Enter Amount</label>
                <input type="text" class="form-control" value="1" id="amt" (keyup)="changeamount()"/>
              </div>

              <div class="calc-curr-dropdown">
                <label class="widget-select-label">Select Currency</label>
                <!-- <select class="selectpicker form-control hauto" id="sel_curr" #c (change)="currencychange(c.value)"> -->
                <select class="selectpicker form-control hauto" id="sel_curr">
                  <ng-container *ngFor="let curr of maincurrencylist">
                    <option value="{{curr.currency_symbol}}">{{curr.currency_symbol}}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="widget-dropdown">
              <div class="calc-arrow">
                <i class="fas fa-exchange-alt"></i>
              </div>

              <div class="calc-coin-dropdown">
                <label class="widget-select-label">Select Coin</label>
                <select class="selectpicker form-control" id="sel_base">
                  <ng-container *ngFor="let coin of allcoin">
                    <option value="{{coin.symbol}}">{{coin.name}}</option>
                  </ng-container>
                </select>
              </div>

              <div class="calc-coin-dropdown">
                <label class="widget-select-label">Select Coin</label>
                <select class="selectpicker form-control hauto" id="sel_convert">
                  <ng-container *ngFor="let coin of allcoin">
                    <option value="{{coin.symbol}}">{{coin.name}}</option>
                  </ng-container>
                </select>
              </div>

            </div>

            <div class="calcu-results">
              <div class="calcu-count">
                <div class="left-box-value text-right">
                  <span class="calcu-value" id="amout">0</span>
                </div>
                <div class="right-box-value text-left">
                  <span class="calcu-value" id="convert_coin">0.0000</span>
                </div>
              </div>

              <div class="equal-value">
                <span class="btn btn-warning equal-value-btn" id="convert_curr">00.000
                  <span class="calc-curr-symbol"></span>
                </span>
              </div>
            </div>

            <div class="text-center loader-box">
              <span *ngIf="showloader">
                <img src="../../assets/images/preloader.gif" width="30px"/>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>