<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">Calculator</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">Calculator</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="subpage-bg widget-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Cryptocurrency Converter & Calculator</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
          <div class="subpage-form widget-box">
            <div class="widget-dropdown mb-lg-4 mb-md-4">
              <div class="amnt-widget-dropdown">
                <label class="widget-select-label">Enter Amount</label>

                <input type="number" class="form-control" />
              </div>

              <div class="calc-curr-dropdown">
                <label class="widget-select-label">Select Currency</label>
                <select class="selectpicker form-control hauto" data-live-search="true">
                  <ng-container>
                    <option>USD</option>
                    <option>INR</option>
                    <option>BRL</option>
                    <option>BTC</option>
                    <option>HKD</option>
                    <option>JPY</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="widget-dropdown">
              <div class="calc-arrow">
                <i class="fas fa-exchange-alt"></i>
              </div>

              <div class="calc-coin-dropdown">
                <label class="widget-select-label">Select Coin</label>
                <select class="selectpicker form-control" data-live-search="true">
                  <option>Bitcoin</option>
                  <option>Ether</option>
                  <option>Ripple</option>
                  <option>Bitcoin Cash</option>
                  <option>Litecoin</option>
                  <option>Cardano</option>
                </select>
              </div>

              <div class="calc-coin-dropdown">
                <label class="widget-select-label">Select Coin</label>
                <select class="selectpicker form-control hauto" data-live-search="true">
                  <option>Bitcoin</option>
                  <option>Ether</option>
                  <option>Ripple</option>
                  <option>Bitcoin Cash</option>
                  <option>Litecoin</option>
                  <option>Cardano</option>
                </select>
              </div>

            </div>

            <div class="calcu-results">
              <div class="calcu-count">
                <div class="left-box-value text-right">
                  <span class="calcu-value">3</span>
                </div>
                <div class="right-box-value text-left">
                  <span class="calcu-value">0.00720</span>
                </div>
              </div>

              <div class="equal-value">
                <span class="btn btn-warning equal-value-btn">65.521
                  <span class="calc-curr-symbol">USD</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>