.hidden {
	display: none;

}

a {
	color: inherit;

}

a:hover {
	color: inherit;

}

.coin_pump_now {
    background-color: rgb(234, 255, 234) !important;

}

.coin_dump_now {
    background-color: rgb(255, 234, 234) !important;

}

.coin_pump {
    background-color: white !important;
    transition: background-color 1s !important;

}

.coin_dump {
    background-color:transparent !important;
    transition: background-color 1s !important;

}

.width50 {
    width: 50px;

}

.width30 {
    width: 30px;

}

.input-currency-icon {
	width: 20px;
    margin-right: 5px;

}

select.form-control:not([size]):not([multiple]) {
	height: auto !important;

}

#ngb-typeahead-0 {
	top: 0px !important;
	right: 0 !important;
    min-width: 225px;
    width: 100%;
	padding: 5px;

}

#ngb-typeahead-0 .dropdown-item {
	padding: 5px;

}

#ngb-typeahead-1 {
	top: 20px !important;
	right: 0 !important;
    min-width: 225px;
    width: 100%;

}

#ngb-typeahead-1 .dropdown-item {
	padding-left: 10px;

}

.coin_name {
	width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
	vertical-align: middle;

}