
/**
 * Margin Sets
 */

.mr-1 {
    margin-right: 1px !important
}

.mr-3 {
    margin-right: 3px !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mr-15 {
    margin-right: 15px !important
}

.mr-20 {
    margin-right: 20px !important
}

.mr-25 {
    margin-right: 25px !important
}

.mr-30 {
    margin-right: 30px !important
}

.mr-40 {
    margin-right: 40px !important
}

.mr-50 {
    margin-right: 50px !important
}

.ml-1 {
    margin-left: 1px !important
}

.ml-3 {
    margin-left: 3px !important
}

.ml-5 {
    margin-left: 5px !important
}

.ml-10 {
    margin-left: 10px !important
}

.ml-15 {
    margin-left: 15px !important
}

.ml-20 {
    margin-left: 20px !important
}

.ml-25 {
    margin-left: 25px !important
}

.ml-30 {
    margin-left: 30px !important
}

.ml-40 {
    margin-left: 40px !important
}

.ml-50 {
    margin-left: 50px !important
}

.mt-1 {
    margin-top: 1px !important
}

.mt-3 {
    margin-top: 3px !important
}

.mt-5 {
    margin-top: 5px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mt-15 {
    margin-top: 15px !important
}

.mt-20 {
    margin-top: 20px !important
}

.mt-25 {
    margin-top: 25px !important
}

.mt-30 {
    margin-top: 30px !important
}

.mt-40 {
    margin-top: 40px !important
}

.mt-50 {
    margin-top: 50px !important
}

.mt-60 {
    margin-top: 60px !important
}

.mt-70 {
    margin-top: 70px !important
}

.mt-80 {
    margin-top: 80px !important
}

.mt-90 {
    margin-top: 90px !important
}

.mb-1 {
    margin-bottom: 1px !important
}

.mb-5 {
    margin-bottom: 5px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mb-15 {
    margin-bottom: 15px !important
}

.mb-16 {
    margin-bottom: 16px !important
}

.mb-20 {
    margin-bottom: 20px !important
}

.mb-25 {
    margin-bottom: 25px !important
}

.mb-30 {
    margin-bottom: 30px !important
}

.mb-40 {
    margin-bottom: 40px !important
}

.mb-50 {
    margin-bottom: 50px !important
}

.mb-60 {
    margin-bottom: 60px !important
}

.mb-70 {
    margin-bottom: 70px !important
}

.mb-80 {
    margin-bottom: 80px !important
}

.mv-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.mv-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.mv-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.mv-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.mv-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mv-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.mv-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.mv-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.mh-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mh-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.mh-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.mh-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.mh-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.mh-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

.mh-50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

.mh-70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}

.margin-5 {
    margin: 5px !important;
}

.margin-10 {
    margin: 10px !important;
}

.margin-15 {
    margin: 15px !important;
}

.margin-20 {
    margin: 20px !important;
}

.margin-25 {
    margin: 25px !important;
}

.no-magin,
ul.no-margin,
.margin-0 {
    margin: 0 !important
}

.no-mt,
.mt-0 {
    margin-top: 0 !important
}

.no-mb,
.mb-0 {
    margin-bottom: 0 !important
}

.no-ml,
.ml-0 {
    margin-left: 0 !important
}

.no-mr,
.mr-0 {
    margin-right: 0 !important
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .mb-10-sm {
        margin-bottom: 10px !important
    }
    .mb-15-sm {
        margin-bottom: 15px !important
    }
    .mb-20-sm {
        margin-bottom: 20px !important
    }
    .mb-25-sm {
        margin-bottom: 25px !important
    }
    .mb-30-sm {
        margin-bottom: 30px !important
    }
    .mb-40-sm {
        margin-bottom: 40px !important
    }
    .mb-50-sm {
        margin-bottom: 50px !important
    }
    .mt-10-sm {
        margin-top: 10px !important
    }
    .mt-15-sm {
        margin-top: 15px !important
    }
    .mt-20-sm {
        margin-top: 20px !important
    }
    .mt-25-sm {
        margin-top: 25px !important
    }
    .mt-30-sm {
        margin-top: 30px !important
    }
    .mt-40-sm {
        margin-top: 40px !important
    }
    .mt-50-sm {
        margin-top: 50px !important
    }
}

@media only screen and (max-width: 767px) {
    .mb-0-xs {
        margin-bottom: 0px !important
    }
    .mb-10-xs {
        margin-bottom: 10px !important
    }
    .mb-15-xs {
        margin-bottom: 15px !important
    }
    .mb-20-xs {
        margin-bottom: 20px !important
    }
    .mb-25-xs {
        margin-bottom: 25px !important
    }
    .mb-30-xs {
        margin-bottom: 30px !important
    }
    .mb-40-xs {
        margin-bottom: 40px !important
    }
    .mb-50-xs {
        margin-bottom: 50px !important
    }
    .mt-0-xs {
        margin-top: 0px !important
    }
    .mt-10-xs {
        margin-top: 10px !important
    }
    .mt-15-xs {
        margin-top: 15px !important
    }
    .mt-20-xs {
        margin-top: 20px !important
    }
    .mt-25-xs {
        margin-top: 25px !important
    }
    .mt-30-xs {
        margin-top: 30px !important
    }
    .mt-40-xs {
        margin-top: 40px !important
    }
    .mt-50-xs {
        margin-top: 50px !important
    }
}

@media (max-width: 479px) {
    .mb-0-xss {
        margin-bottom: 0px !important
    }
    .mb-10-xss {
        margin-bottom: 10px !important
    }
    .mb-15-xss {
        margin-bottom: 15px !important
    }
    .mb-20-xss {
        margin-bottom: 20px !important
    }
    .mb-25-xss {
        margin-bottom: 25px !important
    }
    .mb-30-xss {
        margin-bottom: 30px !important
    }
    .mb-40-xss {
        margin-bottom: 40px !important
    }
    .mb-50-xss {
        margin-bottom: 50px !important
    }
}


/**
 * Padding Sets
 */

.pr-5 {
    padding-right: 5px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pr-15 {
    padding-right: 15px !important
}

.pr-20 {
    padding-right: 20px !important
}

.pr-30 {
    padding-right: 30px !important
}

.pr-40 {
    padding-right: 40px !important
}

.pr-50 {
    padding-right: 50px !important
}

.pr-0,
.no-pr {
    padding-right: 0 !important
}

.pl-5 {
    padding-left: 5px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pl-15 {
    padding-left: 15px !important
}

.pl-20 {
    padding-left: 20px !important
}

.pl-30 {
    padding-left: 30px !important
}

.pl-40 {
    padding-left: 40px !important
}

.pl-50 {
    padding-left: 50px !important
}

.pl-0,
.no-pl {
    padding-left: 0 !important
}

.pt-5 {
    padding-top: 5px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pt-15 {
    padding-top: 15px !important
}

.pt-20 {
    padding-top: 20px !important
}

.pt-25 {
    padding-top: 25px !important
}

.pt-30 {
    padding-top: 30px !important
}

.pt-40 {
    padding-top: 40px !important
}

.pt-50 {
    padding-top: 50px !important
}

.pt-60 {
    padding-top: 60px !important
}

.pt-70 {
    padding-top: 70px !important
}

.pt-80 {
    padding-top: 80px !important
}

.pt-0,
.no-pt {
    padding-top: 0px !important
}

.pb-5 {
    padding-bottom: 5px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.pb-15 {
    padding-bottom: 15px !important
}

.pb-20 {
    padding-bottom: 20px !important
}

.pb-30 {
    padding-bottom: 30px !important
}

.pb-40 {
    padding-bottom: 40px !important
}

.pb-50 {
    padding-bottom: 50px !important
}

.pb-60 {
    padding-bottom: 60px !important
}

.pb-70 {
    padding-bottom: 70px !important
}

.pb-80 {
    padding-bottom: 80px !important
}

.pb-0,
.no-pb {
    padding-bottom: 0 !important
}

.pv-5 {
    padding-top: 5px !important;
    padding-bottom: 5px!important;
}

.pv-10 {
    padding-top: 10px !important;
    padding-bottom: 10px!important;
}

.pv-15 {
    padding-top: 15px !important;
    padding-bottom: 15px!important;
}

.pv-20 {
    padding-top: 20px !important;
    padding-bottom: 20px!important;
}

.pv-30 {
    padding-top: 30px !important;
    padding-bottom: 30px!important;
}

.pv-40 {
    padding-top: 40px !important;
    padding-bottom: 40px!important;
}

.pv-50 {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

.pv-60 {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.pv-70 {
    padding-top: 70px!important;
    padding-bottom: 70px!important;
}

.no-pv,
.pv-0 {
    padding-pv: 0 !important;
    padding-bottom: 0 !important;
}

.ph-5 {
    padding-left: 5px !important;
    padding-right: 5px!important;
}

.ph-10 {
    padding-left: 10px !important;
    padding-right: 10px!important;
}

.ph-15 {
    padding-left: 15px !important;
    padding-right: 15px!important;
}

.ph-20 {
    padding-left: 20px !important;
    padding-right: 20px!important;
}

.ph-30 {
    padding-left: 30px !important;
    padding-right: 30px!important;
}

.ph-40 {
    padding-left: 40px !important;
    padding-right: 40px!important;
}

.ph-50 {
    padding-left: 50px!important;
    padding-right: 50px!important;
}

.ph-60 {
    padding-left: 60px!important;
    padding-right: 60px!important;
}

.ph-70 {
    padding-left: 70px!important;
    padding-right: 70px!important;
}

.no-ph,
.ph-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-5 {
    padding: 5px !important
}

.padding-10 {
    padding: 10px !important
}

.padding-15 {
    padding: 15px !important
}

.padding-20 {
    padding: 20px !important
}

.padding-30 {
    padding: 30px !important
}

.no-padding,
.padding-0 {
    padding: 0 !important
}

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .pt-5-xs {
        padding-top: 5px !important
    }
    .pt-10-xs {
        padding-top: 10px !important
    }
    .pt-15-xs {
        padding-top: 15px !important
    }
    .pt-20-xs {
        padding-top: 20px !important
    }
    .pt-25-xs {
        padding-top: 25px !important
    }
    .pt-30-xs {
        padding-top: 30px !important
    }
    .pt-40-xs {
        padding-top: 40px !important
    }
    .pt-50-xs {
        padding-top: 50px !important
    }
    .pt-60-xs {
        padding-top: 60px !important
    }
    .pt-0-xs,
    .no-pt-xs {
        padding-top: 0px !important
    }
    .pb-5-xs {
        padding-bottom: 5px !important
    }
    .pb-10-xs {
        padding-bottom: 10px !important
    }
    .pb-15-xs {
        padding-bottom: 15px !important
    }
    .pb-20-xs {
        padding-bottom: 20px !important
    }
    .pb-30-xs {
        padding-bottom: 30px !important
    }
    .pb-40-xs {
        padding-bottom: 40px !important
    }
    .pb-50-xs {
        padding-bottom: 50px !important
    }
    .pb-60-xs {
        padding-bottom: 60px !important
    }
    .pb-70-xs {
        padding-bottom: 70px !important
    }
    .pb-80-xs {
        padding-bottom: 80px !important
    }
    .pb-0-xs,
    .no-pb-xs {
        padding-bottom: 0 !important
    }
}

@media (max-width: 479px) {}
