@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Hairline.woff2') format('woff2'),
        url('../fonts/Lato-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-HairlineItalic.woff2') format('woff2'),
        url('../fonts/Lato-HairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-LightItalic.woff2') format('woff2'),
        url('../fonts/Lato-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}


@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BlackItalic.woff2') format('woff2'),
        url('../fonts/Lato-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
        url('../fonts/Lato-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}

body{
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
	color: #404040;
	font-size: 14px;
	line-height: 14px;

}

header {
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    flex-direction: column;

}

.header {
	background-image: -moz-linear-gradient( 90deg, rgb(11,37,69) 0%, rgb(19,64,116) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(11,37,69) 0%, rgb(19,64,116) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgb(11,37,69) 0%, rgb(19,64,116) 100%);
  	background-image: linear-gradient( 90deg, rgb(11,37,69) 0%, rgb(19,64,116) 100%);

}

.white-shades-bg{
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);

}

section {
	position: relative;
    padding-top: 50px;

}

footer{
    padding: 30px 0px;
    position: relative;
    background-image: -webkit-linear-gradient( 90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,0.5) 100%);
    background-image: linear-gradient( 90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,0.5) 100%);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    margin-top: 50px;
}

a:hover , a:focus{
    text-decoration: none;
    outline: none;

}

.btn{
    line-height: 14px;
    padding: 5px 10px;
    transition:  all ease-in-out 0.5s;
    text-transform: uppercase

}

.btn .fas {
    font-size: 12px;
    vertical-align: middle;
}

.btn-primary{
	color: #fff;
    background-color: #404040;
    border-color: #404040;
    opacity: 1;

}

.btn-primary:hover , 
.btn-primary:focus {
	color: #fff;
    background-color: #151515;
    border-color: #151515;
	opacity: 1;

}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle{
	color: #fff;
    background-color: #000000;
    border-color: #000000;
	opacity: 1;

}

.btn-warning {
    color: #fff;
    background-color: #F7931A;
    border-color: #F7931A;
}

.btn-warning:hover , .btn-warning:focus {
    color: #fff;
    background-color: #ed8200;
    border-color: #ed8200;
}

.btn-warning:not(:disabled):not(.disabled).active, 
.btn-warning:not(:disabled):not(.disabled):active, 
.show>.btn-warning.dropdown-toggle{
    color: #fff;
    background-color: #d67500;
    border-color: #d67500;

}

.btn.focus,
.btn:focus , 
.btn:not(:disabled):not(.disabled).active:focus, 
.btn:not(:disabled):not(.disabled):active:focus, 
.show>.btn.dropdown-toggle:focus ,
.btn-primary.focus,
.btn-primary:focus , 
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus ,
.btn-success.focus,
.btn-success:focus , 
.btn-success:not(:disabled):not(.disabled).active:focus, 
.btn-success:not(:disabled):not(.disabled):active:focus, 
.show>.btn-success.dropdown-toggle:focus{
	box-shadow: none;

}


/*--------------------------
----- top-header-start -----
----------------------------*/

.top-header{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    justify-content: space-between;
    padding: 0px 30px;
    background-color: #404040;

}

.all-coinvalue{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    align-items: center;

}

.coinvalue-box{
    padding: 10px 15px;

}

.value-list-box{
    text-align:center;

}

.coinlist-name {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
    display: inline-block;

}

.coinlis-value {
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    opacity: 1;

}

.top-navbar .nav-link{
    color: #F7931A;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;

}

.currency-dropdown{
    margin-left: 15px;

}

.dropdown a{
    color: #3c4859;
}

.dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 6;
    margin-top: 35px;
    padding: 10px 15px;
    background-color: #FFF;
    min-width: 450px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
    list-style: none;
    color: #3c4859;

}

.dropdown-menu.show {
    right: 0;
    width: 100%;
    list-style: none;

}

.dropdown-menu li {
    width: 33.333%;
    float: left;
    cursor: pointer;
    padding: 5px 5px;

}

.dropdown-menu li:hover{
    background-color: #F7931A;
    color: #FFF;

}

.currency-dropdown .dropdown-menu li:hover img {
    filter: brightness(100%) invert(10);
}


.dropdown-menu li > span {
    font-size: 12px;
    font-weight: 600;
    display: block;
}

.dropdown-menu .select-list li {
    display: none;
    float: left;
    width: 33.33%;
    cursor: pointer;

}

.flag-img , 
.curre-img{
    width: 15px;
    margin-right: 5px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
}

.curre-img {
    filter: contrast(5%) sepia(80%) hue-rotate(4deg) saturate(10);
}
.btn.btn-select {
    background-color: #fff;
    color: #000;
    border-radius: 20px 20px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    text-align: left;
    border: none;
    padding: 4px 10px;
    outline: none;
    line-height: 22px;
    width: 120px;
    font-size: 12px;
    border: solid 1px #7f7f7f;
    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.1);

}

.btn.btn-currency-select{
    width: 100px;

}

.btn-select-dropdown{
    border-radius: 0px 20px 20px 0px;
    border: none;
    float: right;
    padding: 7px 10px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: solid 1px #7f7f7f;
    border-left: 0;
}

.home-serch-btn{
    padding: 5px 10px;
    border-radius: 0 20px 20px 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: solid 1px #F7931A;
    border-left: 0;
    z-index: 1;

}

.home-serch-btn i{
    font-size: 12px;

}

.dropdown-anchor{
    position: relative;
    display: block;

}

/*submenu-start*/

.dropdown-toggle::after{
    display: none;

}

.submenu-dropdown .dropdown-menu {
    width: 100%;
    min-width: 170px;
    padding: 10px 0px;

}

.dropdown-toggle i{
    margin-left: 3px;
}

.top-navbar .submenu-dropdown .dropdown-menu .nav-link{
    color: #3c4859;
    padding: 10px 15px;
    background: #fff;
    font-weight: 600;

}

.top-navbar .submenu-dropdown .dropdown-menu .nav-link:hover ,
.top-navbar .submenu-dropdown .dropdown-menu .nav-link.active{
    opacity: 1;

}

/*submenu-end*/


/*--------------------------
----- top-header-end -----
----------------------------*/


/*---------------------
----- header-start -----
----------------------*/

.header .navbar{
    padding: 0px 30px;

}

.navbar-brand {
    width: 250px;
    padding: 15px 0px;

}

.navbar-expand-lg .navbar-nav .nav-item a ,
.footer-menu .nav-item a ,
.top-navbar .submenu-dropdown .dropdown-menu .nav-link {
	color: #404040;
	font-weight: 600;
	padding: 10px 15px;
	font-size: 12px;
	position: relative;
	transition: all ease 0.5s; 
	opacity: 0.8;
    text-transform: uppercase;

}

.navbar-expand-lg .navbar-nav .nav-item a:after ,
.footer-menu .nav-item a:after,
.top-navbar .submenu-dropdown .dropdown-menu .nav-link:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 15px;
	width: 0px;
	height: 2px;
	background-color: #404040;
	transition: all ease 0.5s

}

.navbar-expand-lg .navbar-nav .nav-item a:hover , 
.navbar-expand-lg .navbar-nav .nav-item.active a ,
.footer-menu .nav-item a:hover ,
.footer-menu .nav-item.active a,
.top-navbar .submenu-dropdown .dropdown-menu .nav-link:hover{
	opacity: 1;

}

.navbar-expand-lg .navbar-nav .nav-item a:hover:after,
.footer-menu .nav-item a:hover:after ,
.top-navbar .submenu-dropdown .dropdown-menu .nav-link:hover:after ,
.top-navbar .submenu-dropdown .dropdown-menu .nav-link.active:after{
	width: 20px;

}

.navbar-expand-lg .navbar-nav .nav-item.active a:after ,
.footer-menu .nav-item.active a:after ,
.top-navbar .submenu-dropdown .dropdown-menu .nav-link.active:after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 15px;
	width: 20px;
	height: 2px;
	background-color: #404040;
	transition: all ease 0.5s;

}

.navbar-expand-lg .navbar-nav .nav-item:last-child a{
	padding-right: 0;

}

.home-search{
    margin-left: 20px;
    position: relative;
    display: inline-block;

}

input.search-input{
    border-radius: 25px;
    padding: 7px 10px;
    outline: none;
    line-height: 16px;
    border: solid 1px #404040;
    border-right: none;
    min-width: 200px;
    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.1);
    font-weight: normal;
    font-size: 14px;

}

.btn-search{
    border-radius: 0px 25px 25px 0px;
    float: right;
    padding: 4px 10px;
    line-height: 16px;
    font-size: 14px;

}

.btn-search .fas{
    font-size: 14px;

}

.submenu-small-dropdown .dropdown-menu{
    margin-top: 0;
    box-shadow: none;
    border: none;
    padding: 0px 10px;

}

/*---------------------
----- header-end -----
----------------------*/


/*---------------------
----- table-strat -----
----------------------*/
.table-top-area {
    position: absolute;
    top: 30px;
    background-color: #808080;
    width: 100%;
    height: 38px;
    z-index: 0;

}

.main-table .table thead th{
	border-bottom: none;

}

.datatable-arrow {
    display: inline-grid;
    float: right;

}

.datatable-arrow i {
    line-height: 8px;
    font-size: 12px;

}

.main-table .table td, .main-table .table th{
	border-top: none;
	vertical-align: middle;

}

.coin-name{
	display: -webkit-box;     
	display: -moz-box;        
	display: -ms-flexbox;     
	display: -webkit-flex;   
	display: flex; 
	align-items: center; 

}

.coin-symbol{
	width: 25px;
	margin-right: 15px;
	display: inline-block;

}

.coin-name-text h6{
	margin-bottom: 0;	
    color: #3c4859;

}

.coin-shortname {
    font-size: 13px;
    font-weight: 600;
    color: #6b839b;

}

.text-green{
	color: #009933 !important;

}

.text-red{
	color: #941414 !important;

}

.main-table table thead tr th{
	color:#fff;
	font-size: 14px;
	position: relative;

}

.main-table table tbody tr{
	background-color: transparent;
	border-radius: 5px;
	position: relative;

}

.main-table table tbody tr td{
	position: relative;
    border-bottom: solid 1px #afb8b8;

}

.add-track-btn i{
    margin-top: -2px;

}

/*pagination*/
.pag-table{
    padding-top: 10px;

}

.pager-text{
    font-size: 14px;
    font-weight: 600;

}

.page-coint-start{
    margin-right: 10px

}

.page-coint-end{
    margin-left: 10px

}

.pag-btn{
    text-align: right;

}

.pager-right-btn {
    margin-left: 5px;

}

.btn.pager-left-btn i , .btn.pager-right-btn i {
    font-size: 16px;

}

/*---------------------
----- table-end -----
----------------------*/

/* add-start */

.add-box{
    padding-top: 30px; 
}

/* add-end */



/*---------------------------
----- breadcrumb-start -----
---------------------------*/


.breadcrumb-wrapper{
    background-color: #a0a0a0;
    padding: 30px 0px;
    color: #ffffff;
}

.breadcrumb{
    background-color: transparent;
    padding: 0px;
    margin-bottom: 0px;

}

.breadcrumb a {
    color: #fff;
    opacity: 0.7;

}

.breadcrumb>li+li:before {
    padding: 0px 5px;
    color: #ccc;
    content: "/\00a0";

}

.page-title{
    font-size: 20px;
    padding-top: 0px;

}


/*---------------------------
----- breadcrumb-end -----
---------------------------*/


/*---------------------------
----- single-page-start -----
---------------------------*/

/*--- crypto-strat ---*/

.crypto-detaile{
    background-color: #a0a0a0;
    padding: 70px 0px;
    position: relative;
}

.single-header-box{
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    border-radius: 5px;
}

.coin-rank{
    position: absolute;
    top: -25px;
    left: 15px;
    padding: 10px 10px;
    color: #fff;
    background-color: #404040;

}

.coin-rank i{
    color: #F7931A;
    margin-right: 3px;

}

.single-coin-name{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}

.single-coin-symbol{
    width: 35px;
    margin-right: 15px;
    display: inline-block;

}

.single-coin-title h6{
    margin-bottom: 0;
    font-size: 24px;
    line-height: 22px;

}

.currency_symbol{
    font-size: 13px;
    font-weight: 600;
    margin-left: 3px;
    color: #404040;

}

.visit-site{
    padding-left: 2px;
    padding-top: 10px;

}

.visit-site a{
    color: #404040;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
    transition: all ease-in-out 0.5s;

}

.visit-site a:hover{
    opacity: 1;

}

.visit-site a i{
    margin-right: 5px;

}

.single-coin-value{
    border-top: solid 1px #afb8b8;
    padding-top: 15px;  
    margin-left: 45px;
    padding-bottom: 15px;

}

.single-track-btn{
    margin-left: 45px;

}

.single-track-btn .btn{
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 12px;

}

.single-track-btn span {
    vertical-align: middle;
    margin-right: 5px;
    font-weight: 600;

}

.price-number-coin{
    font-size: 22px;

}

.coin-price-change{
    margin-left: 10px;

}

.btc-price{
    margin-top: 5px;

}

.coin-lable{
    font-size: 14px;
    display: block;

}

.coin-box-price{
    font-size: 18px;

}

/*--- crypto-end ----*/


/*-------------------------
----- single-page-end -----
-------------------------*/



/*-------------------------
----- popup-page-start -----
-------------------------*/
div.modal.show .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;

}

.modal.fade .modal-dialog , .modal .modal-dialog{
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    transition: all ease-in-out 0.5s;

}

.modal-dialog{
    max-width: 100%;
    width: 400px;

}

.modal-content{
    border:none;
    border-radius: 0;
    background-color: #fff;

}

.modal-header{
    border-bottom: solid 1px #F7931A;
    padding: 0;
    position: relative;
    z-index: 1;
    align-items: center;

}


.close-btn {
    width: 45px;
    padding: 15px;
    cursor: pointer;
    background-color:  #F7931A ;
    float: right;

}

.modal-body {
    padding: 50px 0px;

}

.modal-title{
    font-size: 28px;
    padding: 0px 20px;

}

.model-form{
    padding-left: 15px;
    padding-right: 15px;

}

.form-control{
    background-color: transparent;
    border-radius: 45px;
    padding: 10px 30px;
    font-weight: 300;
    color: #3c4859;
    position: relative;
    z-index: 1;
    border: solid 1px #404040;
    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.1);

}

.form-group{
    position: relative;
    margin-bottom: 30px;

}

.form-group:last-child{
    margin-bottom: 0px;
    
}

.form-group .col-form-label{
    position: absolute;
    left: 30px;
    top: calc(50% - 10px);
    padding: 0;
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out 0.5s; 
    z-index: 0;

}

.form-group.massage-box .col-form-label{
    top: 15px;

}

.form-group.massage-box .form-control{
    border-radius: 15px;

}

.form-group textarea{
    height: 150px;

}

.form-control:focus{
    background-color: transparent;
    box-shadow: none;
    color: #3c4859;
    border-color: #F7931A;

}

.form-group.add-label .col-form-label{
    top: -11px;
    background-image: -moz-linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%);
    background-image:  linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%);   
    padding: 2px 5px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out 0.2s;
    z-index: 2;

}

.btn-forgot{
    position: absolute;
    right: 0;
    top: calc(50% - 6px);
    right: 15px;
    z-index: 2;

}

.btn-forgot a{
    color: #F7931A;
    opacity: 0.8;
    cursor: pointer;

}

.btn-forgot a:hover{
    opacity: 1

}

.btn-submit {
    padding: 12px 15px;
    min-width: 120px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 12px;

}

.modal-footer{
    border-top: none;

}

.register-link{
    color: #808080;

}

.back-link{
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    color: #F7931A;
    font-weight: 600;
    text-decoration: underline;

}

.back-link:focus{
    outline: none;

}

/*-------------------------
----- popup-page-end -----
-------------------------*/


/*-------------------------
------- footer-start --------
-------------------------*/

.footer-box {
    padding: 20px 10px;

}

.footer-menu .nav-item {
    width: 50%;
    float: left;

}

.footer-logo {
    width: 180px;
    margin-bottom: 30px;

}

.footer-disc p {
    line-height: 20px;
    text-align: left;
    color: #7f7f7f;
    margin-bottom: 18px;

}


.footer-subscribe{
    position: relative;

}

.btn-subcribe {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0px 25px 25px 0px;
    z-index: 2;
    padding: 10px 15px 10px 10px;
    border: solid 1px #F7931A;
    border-left: 0;

}

.footer-social {
    margin-top: 50px;
    text-align: center

}

.footer-social li{
    display: inline-block;
    width: 50px;

}

.footer-social li a {
    font-size: 24px;
    padding: 5px 10px;
    color: #3b5999;
    opacity: 1;
    transition: all ease-in-out 0.5s;

}

.footer-social li a:hover{
    opacity: 1;
    filter: brightness(100%) contrast(150%);
    font-size: 16px;

}

.footer-social li:nth-child(2) a{
    color: #55acee;

}

.footer-social li:nth-child(3) a{
    color:#e4405f;

}

.footer-social li:last-child a{
    color:#dd4b39;

}

/*-------------------------
------- footer-end --------
-------------------------*/


/*-------------------------
----- contact-start -------
-------------------------*/

.subpage-bg{
    background-color: #a0a0a0;

}

.contact-bg{
    padding: 0px 0px 170px;

}

.subpage-head {
    background-color:#404040;
    padding: 10px 30px;

}

.pagename-title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 5px;
    font-weight: 500;

}

.subpage-head p {
    line-height: 20px;
    color: #fff;
    font-size: 16px;
    opacity: 0.5;
    text-align: justify;
    font-weight: 300;

}

.subpage-form{
    padding: 50px 40px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(114, 114, 114, 0.1);

}   

.contact-form{
    margin-top: -220px;

}

/*-------------------------
----- contact-end ---------
-------------------------*/


/*-------------------------
----- widget-start ---------
-------------------------*/

.widget-bg{
    padding: 0px 0px 120px;

}

.widget-box {
    margin-top: -170px;

}

.widget-dropdown{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    justify-content: space-between;
    position: relative;

}

.widget-dropdown .dropdown-menu{
    max-height: 250px;
    overflow-x: hidden;
    margin-top: 20px;

}

.coin-dropdown{
    width: 60%;

}

.widget-curr-dropdown{
    width: 30%;
    
}

.widget-select-label{
    font-size: 14px;
    color: #808080;
    font-weight: 600;
    margin-left: 10px;

}


.currency-widget-btn {
    width: 100%;
    text-align: left;
    padding: 9px 10px;
    border-radius: 20px;
    border: solid 1px #404040;
    line-height: 15px;
    box-shadow: inset 0px 4px 5px rgba(0,0,0,0.1);
    position: relative;

}

.widget-coin-box {
    position: relative;
    padding: 20px;
    margin-top: 60px;
    border-radius: 15px;
    border: solid 1px #404040;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

.widget-box-disc {
    margin-top: 20px;

}

.widget-box-disc p {
    font-size: 13px;
    text-align: center;
    color: #7f7f7f;

}

.widget-coin-value{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    justify-content: space-between;
    padding-top: 10px;
    border-top: solid 1px #afb8b8;

}

.widget-value{
    text-align: center;
    width: 50%;

}

.widget-coin-label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;

}

.copy-textarea {
    margin-top: 60px;

}

.copy-textarea textarea{
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

.btn-copy {
    padding: 12px 15px;
    min-width: 120px;
    border-radius: 25px;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 12px;

}

.btn-copy i{
    margin-right: 4px;

}

/*-------------------------
----- widget-start ---------
-------------------------*/


/*--------------------------------
------- Calculator-start ---------
--------------------------------*/

.amnt-widget-dropdown{
    width: 42%;

}

.amnt-widget-dropdown .form-control{
    padding: 8px 15px;

}

.calc-curr-dropdown , .calc-coin-dropdown{
    width: 42%;

}

.calc-arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: -30px;
    padding: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 26px;
    text-align: center;
    background-color: #404040;
    color: #fff;

}

.calcu-count{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    justify-content: space-between;
    padding: 30px 0px;
    position: relative;

}

.calcu-count:after {
    position: absolute;
    content: "=";
    top: calc(50% - 7px);
    left: calc(50% - 7px);
    font-size: 24px;
    width: 14px;
    height: 14px;

}

.calcu-value {
    width: 150px;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 15px;

}

.left-box-value , .right-box-value {
    width: 40%;

}

.equal-value {
    text-align: center;

}

.equal-value-btn {
    border-radius: 0;
    padding: 10px 20px;

}

.calc-curr-symbol {
    font-size: 12px;
    color: #f3f3f3;
    font-weight: 600;
    margin-left: 3px;

}

/*-----------------------------
------- Calculator-end --------
-----------------------------*/


/*-------------------------
------- news-start --------
-------------------------*/


.news-bg{
    padding-bottom:50px;

}

.news-box {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(114, 114, 114, 0.1);
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    justify-content: space-between;
    margin-bottom: 15px;

}

.news-box:last-child{
    margin-bottom: 0px;

}

.news-field-detaile{
    padding: 20px;

}

.news-title {
    font-size: 18px;
    color: #404040;
    margin-bottom: 5px;

}

.news-field-detaile p {
    font-size: 12px;
    line-height: 18px;
    color: #7f7f7f;

}

.news-source {
    margin-bottom: 10px;
    color: #3c4859;
    font-size: 13px;

}

.small-text{
    font-weight: 600;

}

.times-text{
    margin-left: 10px;
    font-weight: 600;

}

.btn-read{
    padding: 8px 15px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 25px;

}

.btn-read i{
    margin-left: 5px;

}

/*-----------------------
------- news-end --------
-----------------------*/


/*--------------------------
------- about-start --------
--------------------------*/

.about-bg {
    padding: 0px 0px 120px;

}

.about-us-box {
    margin-top: -170px;

}

.about-title {
    font-size: 20px;

}

.about-field-detaile p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;
    color: #7f7f7f;
    text-align: justify

}

/*------------------------
------- about-end --------
------------------------*/


/*------------------------------
------- protfolio-start --------
-------------------------------*/

.protfolio-bg{
    padding-bottom: 50px;

}

.protfolio-networth{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(114, 114, 114, 0.1);
    padding: 20px 20px;
    flex-direction: column;

}

.protfolio-box{
    margin-top: -50px;

}

.add-transaction-btn {
    margin-top: 20px;

}

.prot-box-name {
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;

}

.prot-box-price {
    font-weight: 600;
    margin-right: 5px;
    font-size: 14px;

}

.btn-addtran{
    padding: 12px 15px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    min-width: 150px;

}

.prot-amnt-input .form-control{
    padding: 5px 15px;

}

.prot-dropdown .dropdown-menu{
    margin-top: 0px;
    min-width: auto;

}

.protfolio-top-area{
    margin-top: 20px;

}

/*------------------------------
--------- protfolio-end --------
-------------------------------*/


/*------------------------------
------- Followlist-start -------
-------------------------------*/

.follow-networth{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(114, 114, 114, 0.1);
    justify-content: center;
    
}


.followlist-box{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    align-items: center;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(114, 114, 114, 0.1);
    margin-bottom: 30px;

}

.col-12:nth-last-child(-n+3) .followlist-box {
    margin-bottom: 0;

}


.followlist-coin-detaile{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.followlist-coin-name{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F7931A;

}

.followlist-coin-symbol {
    width: 30px;
    margin-right: 15px;
    display: inline-block;

}

.protfolio-coin-title h6{
    font-size: 18px;
    margin-bottom: 0px;
    color: #fff;

}

.followlist-visit-site{
    flex: 3;
    text-align: right;

}

.followlist-visit-site a{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.9;
    transition: all ease-in-out 0.5s;

}

.followlist-visit-site a i{
    margin-right: 3px;

}

.followlist-visit-site a:hover{
    opacity: 1;
    color: #fff;
    
}

.followlist-coin-value{
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;   
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;

}

.followlist-24-value{
    border-left: solid 2px #7f7f7f;
    padding-left: 15px;

}

.followlist-value , .followlist-24-value{
    width: 50%;
    height: 100%;
    text-align:center;
    padding: 5px 0px;

}

.followlist-coin-label{
    display: block;
    font-weight: 600;
    font-size: 13px;
    color: #7f7f7f;

}

.followlist-box-price {
    font-size: 16px;
    font-weight: 600;

}

.followlist-btn {
    padding-bottom: 20px;

}

.btn-unfollow{
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 25px;
    min-width: 120px;

}

.btn-unfollow i{
    margin-right: 5px;

}

/*------------------------------
------- Followlist-end -------
-------------------------------*/

/*---------------------
------- FAQ-Start -------
---------------------*/


.faq-bg{
    padding-bottom: 50px ;

}

.faq-box{
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(114, 114, 114, 0.1);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    flex-direction: column;

}

.card-header{
    background-color: #fff;
    border-bottom: none;

}

.card-header:first-child{
    border-radius: 0;

}

.btn-link{
    color: #404040;
    opacity: 0.9;
    font-weight: 500;

}

.btn-link:hover , .btn-link.focus, .btn-link:focus{
    text-decoration: none;
    color: #404040;
    opacity: 1;

}

.collapse.show{
    border-top: none;

}

.card-body p {
    font-size: 14px;
    line-height: 18px;
    color: #7f7f7f;

}

.faq-list {
    padding-left: 25px;

}

.faq-list li {
    color: #7f7f7f;
    padding: 3px 0;

}

.faq-massage-box {
    padding: 30px 30px;
    background-color: #F7931A;

}

.faq-massage-box h6{
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;

}

.faq-massage-box p{
    line-height: 18px;


}

.faq-btn{
    padding-top: 20px;

}

.sticky {
    position: sticky;
    top: 10px;
    height: 100vh;

}

/*---------------------
------- FAQ-end -------
---------------------*/

.editprofile-bg{
    padding-bottom: 50px;

}

.editprofile-form{
    margin-top: -100px;

}


/*------------------------------
------- Responsive-start -------
-------------------------------*/
.navbar-toggler , button:focus{
    outline: none;

}

@media (max-width:1199px){
    .navbar-toggler-icon{
        background-image: url(../images/menu.svg);
        width: 1.2em;
        height: 1.2em;

    }

    .coinvalue-box{
        padding: 5px 5px;

    }

    .coinlis-value{
        font-size: 12px;
    }

    .coinlist-name{
        font-size: 12px;

    }

    .navbar-expand-lg .navbar-nav .nav-item a,
    .footer-menu .nav-item a{
        padding: 10px;

    }

    .top-navbar .nav-link{
        padding: 10px;

    }

    .navbar-expand-lg .navbar-nav .nav-item.active a:after, 
    .footer-menu .nav-item.active a:after ,
    .navbar-expand-lg .navbar-nav .nav-item:hover a:after, 
    .footer-menu .nav-item:hover a:after{
        left: 10px;

    }

    .home-search {
        margin-left: 15px;

    }

    .btn-link {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: left;
    
    }

}

@media (max-width: 991px){
    header {
        flex-direction: column-reverse;

    }

    .header .navbar , .top-header{
        padding:  0px 15px;

    }

    .top-header{
        justify-content: center;
        flex-direction: column;

    }

    .all-coinvalue{
        justify-content: center;

    }

    .top-navbar{
        display: -webkit-box;     
        display: -moz-box;        
        display: -ms-flexbox;     
        display: -webkit-flex;   
        display: flex; 
        justify-content: center;

    }

    .navbar{
        padding: .5rem 0rem;

    }

    .search-toggler {
        padding: 0;
        font-size: 1.1rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;

    }

    .search-icon {
        background-image: url(../images/search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        vertical-align: middle;
        content: "";

    }

    .homeSearch {
        padding-top: 15px;
        width: 100%;

    }

    .small-home-search {
        margin-left: 0;
        margin-bottom: 15px;
        width: 100%

    }

    .small-home-search .search-input{
        width: 100%;
        min-width: auto;
        
    }

    .navbar-toggler {
        padding-right: 0;

    }

    .width-responsive{
        overflow: auto;

    }

    .collapse.show {
        border-top: solid 1px #134074;

    }

    body.noscroll {
        overflow: hidden;

    }

    .navbar-collapse {
        position: fixed;
        z-index: 1005;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: table;
        width: 100vw;
        height: 100vh;
        text-align: center;
        visibility: hidden;
        background: #ffffff;
        background: linear-gradient(45deg,#ffffff 0,#fafafa 200%);
        transform:scale(0.7);
        opacity: 0;
        transition: initial;
        overflow-y: scroll;
        overflow-x: hidden;

    }

    .navbar-collapse.show {
        border-top: none;
        visibility: visible;
        opacity:1;
        transform:scale(1);
        transition: opacity 0.5s, transform 0.3s;

    }

    .navbar-nav {
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        
    }

    .navbar-close {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 0;
        
    }

    .navbar-close-icon {
        background: no-repeat center center;
        background-image: url(../images/close-gray.svg);
        background-size: 100% 100%;
        display: inline-block;        
        width: 1em;
        height: 1em;
        vertical-align: middle;

    }

    .navbar-expand-lg .navbar-nav .nav-item a {
        padding: 15px 10px;
    }

    .navbar-expand-lg .navbar-nav .nav-item:last-child a {
        padding-right: 15px;

    }

    .navbar-expand-lg .navbar-nav .nav-item a::after {
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 5px;

    }

    .navbar-expand-lg .navbar-nav .nav-item.active a:after, 
    .navbar-expand-lg .navbar-nav .nav-item:hover a:after {
        left: 0;       

    }

    .submenu-small-dropdown .dropdown-menu{
        text-align: center;

    }

    .main-table {
        min-width: 900px;

    }

    .datatable-arrow{
        margin-left: 5px;

    }

    .breadcrumb-wrapper{
        background: transparent;
        color: #404040;
        padding: 10px 0 13px;
    }

    .breadcrumb a {
        color: #404040;

    }

    .sticky{
        position: relative;
        height: auto;

    }
    
    .add-track-btn{
        display: -webkit-box;     
        display: -moz-box;        
        display: -ms-flexbox;     
        display: -webkit-flex;   
        display: flex; 
        justify-content: space-between;

    }

    .main-table th > a {
        display: -webkit-box;     
        display: -moz-box;        
        display: -ms-flexbox;     
        display: -webkit-flex;   
        display: flex; 
        justify-content: space-between;
        align-items: center;

    }

    .add-track-btn button {
        width: 30px;
        padding: 5px 0px;

    }

    .single-coin-value , .single-track-btn{
        margin-left: 0px;

    }

    .single-track-btn{
        display: -webkit-box;     
        display: -moz-box;        
        display: -ms-flexbox;     
        display: -webkit-flex;   
        display: flex; 

    }
}

@media (min-width: 768px){

}

@media (max-width: 767px){
    .header .navbar , .top-header{
        padding: 0px 15px;
    }
    .col-12:nth-last-child(-n+3) .followlist-box {
        margin-bottom: 30px;
    }
    .col-12:nth-last-child(-n+1) .followlist-box {
        margin-bottom: 0;
    }
    .top-header .navbar {
        display: block;
        width: 100%;
    }
    .nav{
        justify-content: center;
    }

    section{
        padding-top: 30px;
    }

    footer{
        padding: 15px 0px;
        margin-top: 30px;
    }

    .footer-box{
        padding: 10px 10px;

    }

    .footer-social{
        margin-top: 30px;

    }

    .widget-bg{
        padding: 30px 0px 120px;

    }

    .pagename-title{
        font-size: 28px;
        margin-bottom: 10px;

    }

    .widget-dropdown{
        flex-direction: column;
    }

    .calc-curr-dropdown, .calc-coin-dropdown , .amnt-widget-dropdown {
        width: 100%;
        margin-bottom: 20px;
    }

    .calcu-count{
        margin: 0px 0px 20px;
        padding: 0;

    }
    
    .calc-arrow{
        display: none;
    }

    .calcu-value{
        width: 130px;
        text-align: center
    }

    .widget-dropdown .dropdown-menu{
        margin-top: 5px;

    }

    .widget-coin-box{
        margin-top: 50px;

    }

    .copy-textarea{
        margin-top: 0px;

    }

    .coin-dropdown {
        margin-bottom: 20px;

    }

    .coin-dropdown , .widget-curr-dropdown {
        width: 100%;
    }

    .single-header-box{
        margin-bottom: 20px;
    }

    .crypto-detaile{
        padding: 50px 0px 10px;

    }

    .news-bg , 
    .faq-bg{
        padding: 20px 0px;
    }
    

    .widget-box{
        margin-top: -150px;
    }

    .about-us-box {
        margin-top: -150px;
    }

    .contact-form{
        margin-top: -200px;
    }

    .protfolio-top-area{
        margin-top: 0px;

    }

    .editprofile-form {
        margin-top: -80px;
    }

    .footer-logo{
        margin-bottom: 20px;
    }

    .single-coin-value , .single-track-btn{
        margin-left: 45px;

    }

    .single-track-btn{
        display: block;

    }
}

@media (max-width: 575px){
    .navbar-brand{
        width: 190px;
    }
    .dropdown-menu{
        min-width: auto

    }
    .dropdown-menu li > span{
        display: block;
        overflow: hidden;
    }

    .lang-name {
        width: 70%;
        display: inline-block;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 10px;
    }

    .btn-select .lang-name {
        width: 78%;
    }
    .subpage-form {
        padding: 30px 25px;
    }
    
    .about-bg{
        padding: 20px 0px 120px;
    }
    
    .contact-bg{
        padding: 20px 0px 170px;
    }

    .editprofile-bg{
        padding: 20px 0px 50px;
    }
    .model-form{
        padding: 0px;

    }

    .register-link{
        text-align: right;
    }

    .protfolio-bg{
        padding: 20px 0px;
    }

    footer{
        margin-top: 30px;
    }

    .all-coinvalue{
        justify-content: center;
        flex-wrap: wrap
    }
}

@media (max-width: 321px){  
    .subpage-form{
        padding: 20px 10px;
  
    }

    .form-group{
        margin-bottom: 20px;
    }

    .left-box-value, .right-box-value{
        width: auto;

    }

    .modal-body{
        padding: 30px 0px;

    }
    .left-box-value, .right-box-value{
        width: 50%;
    }

}
