<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">News</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">News</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="subpage-bg news-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Crypto News</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10" *ngIf="newslist == ''">
          <div class="subpage-form newspage-form">
            <div class="news-box">
              <img src="../../assets/images/loading.gif" style="margin:0 auto;"/>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-10" *ngIf="newslist != ''">
          <div class="subpage-form newspage-form">
            <div class="news-box" *ngFor="let news of newslist" >
              <div class="news-text">
                <div class="news-field-detaile">
                  <h3 class="news-title">{{news.title}}</h3>
                  <div class="news-source">
                    <span class="small-text">Source:</span>
                    <span class="news-name">{{news.source}}</span>
                    <span class="times-text">{{news.insert_date | timeAgo}}</span>
                  </div>
                  <p [innerHTML]="news.long_news"></p>

                  <div class="news-btn">
                    <a class="btn btn-primary btn-read read_btn_{{news.id}}" target="_blank" href="{{news.link}}">Read More
                      <i class="fas fa-angle-double-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>