<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">Followlist</h1>
        <ol class="breadcrumb">
          <li>
            <a href="#">Home</a>
          </li>
          <li class="active">Followlist</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="subpage-bg protfolio-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Followlist</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="followlist-box">
            <div class="followlist-coin-detaile">
              <div class="followlist-coin-name">
                <span class="single-coin-symbol">
                  <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/btc.svg">
                </span>

                <span class="protfolio-coin-title">
                  <h6>Bitcoin</h6>
                  <span class="currency_symbol">BTC</span>
                </span>
                <div class="followlist-visit-site">
                  <a href="#">
                    <i class="fas fa-share-square"></i> Website</a>
                </div>
              </div>

              <div class="followlist-coin-value">
                <div class="followlist-value">
                  <label class="followlist-coin-label">
                    Last Price:
                  </label>
                  <span class="followlist-box-price">
                    $155.88
                  </span>
                </div>

                <div class="followlist-24-value">
                  <label class="followlist-coin-label">
                    Volume 24h:
                  </label>
                  <span class="followlist-box-price">
                    $6,808,400,000
                  </span>
                </div>
              </div>

              <div class="followlist-btn text-center">
                <button class="btn btn-primary btn-unfollow">
                  <i class="fas fa-minus"></i> Unfollow</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="followlist-box">
            <div class="followlist-coin-detaile">
              <div class="followlist-coin-name">
                <span class="single-coin-symbol">
                  <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/eth.svg">
                </span>

                <span class="protfolio-coin-title">
                  <h6>Ethereum</h6>
                  <span class="currency_symbol">ETH</span>
                </span>
                <div class="followlist-visit-site">
                  <a href="#">
                    <i class="fas fa-share-square"></i> Website</a>
                </div>
              </div>

              <div class="followlist-coin-value">
                <div class="followlist-value">
                  <label class="followlist-coin-label">
                    Last Price:
                  </label>
                  <span class="followlist-box-price">
                    $80.88
                  </span>
                </div>

                <div class="followlist-24-value">
                  <label class="followlist-coin-label">
                    Volume 24h:
                  </label>
                  <span class="followlist-box-price">
                    $400,020.00
                  </span>
                </div>
              </div>

              <div class="followlist-btn text-center">
                <button class="btn btn-primary btn-unfollow">
                  <i class="fas fa-minus"></i> Unfollow</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="followlist-box">
            <div class="followlist-coin-detaile">
              <div class="followlist-coin-name">
                <span class="single-coin-symbol">
                  <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/xrp.svg">
                </span>

                <span class="protfolio-coin-title">
                  <h6>Ripple</h6>
                  <span class="currency_symbol">XRP</span>
                </span>
                <div class="followlist-visit-site">
                  <a href="#">
                    <i class="fas fa-share-square"></i> Website</a>
                </div>
              </div>

              <div class="followlist-coin-value">
                <div class="followlist-value">
                  <label class="followlist-coin-label">
                    Last Price:
                  </label>
                  <span class="followlist-box-price">
                    $35.00
                  </span>
                </div>

                <div class="followlist-24-value">
                  <label class="followlist-coin-label">
                    Volume 24h:
                  </label>
                  <span class="followlist-box-price">
                    $8,400.00
                  </span>
                </div>
              </div>

              <div class="followlist-btn text-center">
                <button class="btn btn-primary btn-unfollow">
                  <i class="fas fa-minus"></i> Unfollow</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="followlist-box">
            <div class="followlist-coin-detaile">
              <div class="followlist-coin-name">
                <span class="single-coin-symbol">
                  <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/neo.svg">
                </span>

                <span class="protfolio-coin-title">
                  <h6>NEO</h6>
                  <span class="currency_symbol">NEO</span>
                </span>
                <div class="followlist-visit-site">
                  <a href="#">
                    <i class="fas fa-share-square"></i> Website</a>
                </div>
              </div>

              <div class="followlist-coin-value">
                <div class="followlist-value">
                  <label class="followlist-coin-label">
                    Last Price:
                  </label>
                  <span class="followlist-box-price">
                    $20.00
                  </span>
                </div>

                <div class="followlist-24-value">
                  <label class="followlist-coin-label">
                    Volume 24h:
                  </label>
                  <span class="followlist-box-price">
                    $30,505.00
                  </span>
                </div>
              </div>

              <div class="followlist-btn text-center">
                <button class="btn btn-primary btn-unfollow">
                  <i class="fas fa-minus"></i> Unfollow</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="followlist-box">
            <div class="followlist-coin-detaile">
              <div class="followlist-coin-name">
                <span class="single-coin-symbol">
                  <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/ltc.svg">
                </span>

                <span class="protfolio-coin-title">
                  <h6>Litecoin</h6>
                  <span class="currency_symbol">LTC</span>
                </span>
                <div class="followlist-visit-site">
                  <a href="#">
                    <i class="fas fa-share-square"></i> Website</a>
                </div>
              </div>

              <div class="followlist-coin-value">
                <div class="followlist-value">
                  <label class="followlist-coin-label">
                    Last Price:
                  </label>
                  <span class="followlist-box-price">
                    $25.90
                  </span>
                </div>

                <div class="followlist-24-value">
                  <label class="followlist-coin-label">
                    Volume 24h:
                  </label>
                  <span class="followlist-box-price">
                    $7,000.00
                  </span>
                </div>
              </div>

              <div class="followlist-btn text-center">
                <button class="btn btn-primary btn-unfollow">
                  <i class="fas fa-minus"></i> Unfollow</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="followlist-box">
            <div class="followlist-coin-detaile">
              <div class="followlist-coin-name">
                <span class="single-coin-symbol">
                  <img class="img-fluid" src="http://stagging.coinmage.com/upload/currency-svg/bch.svg">
                </span>

                <span class="protfolio-coin-title">
                  <h6>Bitcoin Cash</h6>
                  <span class="currency_symbol">BCH</span>
                </span>
                <div class="followlist-visit-site">
                  <a href="#">
                    <i class="fas fa-share-square"></i> Website</a>
                </div>
              </div>

              <div class="followlist-coin-value">
                <div class="followlist-value">
                  <label class="followlist-coin-label">
                    Last Price:
                  </label>
                  <span class="followlist-box-price">
                    $5.88
                  </span>
                </div>

                <div class="followlist-24-value">
                  <label class="followlist-coin-label">
                    Volume 24h:
                  </label>
                  <span class="followlist-box-price">
                    $6,000
                  </span>
                </div>
              </div>

              <div class="followlist-btn text-center">
                <button class="btn btn-primary btn-unfollow">
                  <i class="fas fa-minus"></i> Unfollow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>