<div class="breadcrumb-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title">Followlist</h1>
        <ol class="breadcrumb">
          <li>
            <a href="{{base_url}}">Home</a>
          </li>
          <li class="active">Followlist</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="subpage-bg protfolio-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Followlist</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row" *ngIf="followlist == ''">
        <div class="col-12 col-sm-12 col-md-6 col-lg-12 text-center">
          <img src="../../assets/images/loading.gif" />
        </div>
      </div>
      <div class="row" *ngIf="followlist != ''">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let coin of followlist">
          <div class="followlist-box">
            <div class="followlist-coin-detaile">
              <div class="followlist-coin-name">
                <span class="single-coin-symbol">
                  <img class="img-fluid" src="assets/currency-svg/{{coin.symbol | lowercase}}.svg" (error)="errorHandler($event,coin.symbol)">
                </span>

                <span class="protfolio-coin-title">
                  <h6>{{coin.name}}</h6>
                  <span class="currency_symbol">{{coin.symbol}}</span>
                </span>
                <div class="followlist-visit-site">
                  <a href="#">
                    <i class="fas fa-share-square"></i> Website</a>
                </div>
              </div>

              <div class="followlist-coin-value">
                <div class="followlist-value">
                  <label class="followlist-coin-label">
                    Last Price:
                  </label>
                  <span class="followlist-box-price">
                    {{base_sing}}&nbsp;{{coin['price_'+basecurr] | number : '1.0-12'}}
                  </span>
                </div>

                <div class="followlist-24-value">
                  <label class="followlist-coin-label">
                    Volume 24h:
                  </label>
                  <span class="followlist-box-price" [ngClass]="coin.percent_change_24h > 0 ? 'text-green' : 'text-red'">
                     {{coin.percent_change_24h | number : '1.2-2'}}%
                  </span>
                </div>
              </div>

              <div class="followlist-btn text-center">
                <button class="btn btn-primary btn-unfollow" (click)="followcoin(coin);">
                  <i class="fas fa-minus"></i> Unfollow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>