.form-group .col-form-label {
    top: -11px !important;
    background-image: -moz-linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%) !important;
    background-image: linear-gradient( 90deg, rgb(64, 64, 64) 0%, rgb(52, 52, 52) 100%) !important;
    padding: 2px 5px !important;
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    letter-spacing: 2px !important;
    z-index: 2 !important;
}