<div class="content">
  <div class="subpage-bg editprofile-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Edit Profile</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6">
          <div class="subpage-form editprofile-form">
            <form class="form-model">
              <div class="form-group">
                <label for="recipient-name" class="widget-select-label">Name:</label>
                <input type="text" class="form-control" id="unmae" name="uname" [(ngModel)]="prof.uname" value="{{profile.name}}">
              </div>

              <div class="form-group">
                <label for="message-text" class="widget-select-label">Email</label>
                <input type="email" class="form-control" disabled value="{{profile.email}}">
              </div>

              <div class="form-group profile-select">
                <label for="message-text" class="widget-select-label">Change Currency</label>
                <select class="selectpicker" id="sel_curr" style="width: 100%">
                  <ng-container *ngFor="let curr of maincurrencylist">
                    <option value="{{curr.currency_symbol}}">{{curr.currency_symbol}}</option>
                  </ng-container>
                </select>
                <!--<ng-template #os let-o="result" let-s="termcur" id="allcurr">
                  <div>
                    <img src="assets/currency-symbol/{{o.currency_symbol}}.svg" onError="this.src='assets/currency-25/not-found-25.png'" class="input-currency-icon img-filter">
                    <span>
                      {{o.currency_symbol}}
                    </span>
                  </div>
                </ng-template>
                <input id="typeahead-template" type="text" class="form-control currency-select currency-name" [(ngModel)]="prof.b_curr" name="b_curr" [ngbTypeahead]="searchcur" [resultTemplate]="os" [inputFormatter]="formattercur" placeholder="Change your currency here" id="selectedcur" value="{{profile.d_currency}}" />
                <!-- <button class="button-arrow currency_icon" id="icon-coin">
                  <img class="input-currency-icon img-filter" id="coin_image" src="assets/currency-symbol/{{profile.d_currency | lowercase}}.svg">
                </button> -->
              </div>

              <div class="form-group">
                <button type="button" class="btn btn-primary btn-submit" (click)="onSubmitPrafile()"> Submit </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>