
<div class="content">
  <div class="subpage-bg contact-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-7">
          <div class="subpage-head">
            <h4 class="pagename-title text-center">Contact Us</h4>
            <p>{{'CONTACTUS.description' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-7">
          <div class="subpage-form contact-form">
            <form class="form-model">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">{{'CONTACTUS.name' | translate}}:</label>
                <input type="text" class="form-control" name="cname" [(ngModel)]="contact.cname">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">{{'CONTACTUS.emailaddress' | translate}}:</label>
                <input type="email" class="form-control" name="cemail" [(ngModel)]="contact.cemail">
              </div>
              <div class="form-group massage-box">
                <label for="message-text" class="col-form-label">{{'CONTACTUS.message' | translate}}:</label>
                <textarea type="massage" class="form-control" name="message" [(ngModel)]="contact.message"> </textarea>
              </div>

              <div class="form-group d-md-flex justify-content-md-between align-items-md-center">
                <button type="send" class="btn btn-primary btn-submit" (click)="onsubmitsendcontactus();"> {{'CONTACTUS.sendmessage' | translate}} </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>